<p>Non hai tempo di seguirci tutti i giorni? Nessun problema! Ecco a te il riepilogo di quanto proposto da <em>TurboLab.it</em> nel corso della settimana in conclusione.</p>
<p>📬 Vuoi ricevere questo resoconto comodamente via email, una volta a settimana? Allora <a href="{{ newsletterUrl }}">iscriverti alla newsletter</a>!</p>

<p><img src="{{ Spotlight.url(ImageSizes.reg) }}"></p>

{% if Articles is not empty %}

    {% for Article in Articles %}
        <h2>{{ Article.title }}</h2>
        {% if Article.Spotlight is not empty  %}
            <p><img src="{{ Article.spotlightUrl(ImageSizes.reg) }}"></p>
        {% endif %}
        <p>{{ Article.abstract }}</p>
        <p><strong>» Leggi:</strong> <a href="{{ Article.url }}">{{ Article.title }}</a></p>
    {% endfor %}

{% else %}

    <h2>Articoli e news</h2>
    <p>🌴 Questa settimana non sono stati pubblicati nuovi articoli.</p>

{% endif %}


<h2>Ultimo video</h2>

{% if Videos is not empty %}

    <p>{{ Videos|first.title }}</p>
    <p><iframe src="//www.youtube-nocookie.com/embed/{{ Videos|first.id }}?rel=0" width="100%" height="360"></iframe></p>

    Video precedenti:

    <ul>
        {% for Video in Videos %}
            {% if not loop.first %}
                <li><a href="{{ Video.url }}">▶️ {{ Video.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% else %}

    <p>🎥 Nessun video disponibile</p>

{% endif %}


<h2>Messaggi dal forum</h2>
{% if Topics is not empty %}

    <ul>
        {% for Topic in Topics %}
            <li>
                <a href="{{ Topic.url }}">{{ Topic.title }}</a>
                {{ Topic.postNum }} messaggi{% if Topic.postNum == 1 %}o{% endif %}
            </li>
        {% endfor %}
    </ul>

{% else %}

    <p>🏄 Nessuna novità dal forum.</p>

{% endif %}


<h2>Curiosità</h2>
<p>Questa newsletter è stata recapitata a {{ subscriberCount|friendlyNum }} iscritti.</p>
<p>
    I domini più usati sono
    {% for domain,Provider in TopEmailProviders %}
        <em>@{{ domain }}</em> ({{ Provider.percentage }}%{% if loop.first %} degli iscritti{% endif %}){% if not loop.last %},{% else %}.{% endif %}
    {% endfor %}
</p>
