{% extends 'base.html.twig' %}

{% block metaTitle %}Iscrizione alla newsletter{% endblock %}
{% block metaRobots %}noindex,follow{% endblock %}

{% block bodyMainContent %}

    <section>
        <div class="container tli-fullpage-message">

            <h1 class="title">Iscrizione alla newsletter</h1>

            {% if error ?? null == constant('App\\Controller\\NewsletterController::ERROR_BAD_ACCESS_KEY') %}

                <p>Errore durante la decodifica dell'iscrizione.</p>

            {% elseif error ?? null == constant('App\\Controller\\NewsletterController::ERROR_USER_NOT_FOUND') %}

                <p>
                    L'utente numero <samp>{{ SubscriberData.userId }}</samp>,
                    associato all'indirizzo email <samp>{{ SubscriberData.email }}</samp>,
                    non esiste.
                </p>

            {% elseif error ?? null == constant('App\\Controller\\NewsletterController::ERROR_USER_IS_SUBSCRIBED') %}

                <p>
                    L'indirizzo email <samp>{{ SubscriberData.email }}</samp>
                    è già iscritto alla newsletter.
                </p>

            {% elseif error is defined %}

                <p>Si è verificato un errore imprevisto.</p>

            {% else %}

                <p>
                    <strong><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Iscrizione alla newsletter avvenuta con successo!</strong>
                </p>

                <p>L'indirizzo <samp>{{ User.email }}</samp> riceverà ora la newsletter settimanale.</p>

                <hr>

                <p>
                    <strong><i class="fa-solid fa-rotate-left"></i> Ti sei iscritto per sbaglio?</strong>
                    Puoi dis-iscriverti subito <a href="{{ User.newsletterUnsubscribeUrl }}">cliccando qui</a>.
                </p>

            {% endif %}

            {% if error ?? false %}

                <hr>
                <p>
                    Se hai problemi con l'iscrizione alla newsletter, per favore
                    scrivici all'indirizzo <a href="mailto:info@turbolab.it?subject=Problema iscrizione newsletter">info@turbolab.it</a>
                    e ti aiuteremo a iscriverti.
                </p>

            {% endif %}
        </div>
    </section>

{% endblock %}
