{% extends 'base.html.twig' %}

{% block metaTitle %}Annullamento dell'iscrizione alla newsletter{% endblock %}
{% block metaRobots %}noindex,follow{% endblock %}

{% block bodyMainContent %}

    <section>
        <div class="container tli-fullpage-message">

            <h1 class="title">Annullamento dell'iscrizione alla newsletter</h1>

            {% if (error ?? null) == constant('App\\Controller\\NewsletterController::ERROR_BAD_ACCESS_KEY') %}

                <p>
                    Errore durante la decodifica dell'iscrizione. Per favore, riprova cliccando il link di dis-iscrizione
                    che trovi all'interno della newsletter stessa.
                </p>

            {% elseif (error ?? null) == constant('App\\Controller\\NewsletterController::ERROR_USER_NOT_FOUND') %}

                <p>
                    L'utente numero <samp>{{ SubscriberData.userId }}</samp>,
                    associato all'indirizzo email <samp>{{ SubscriberData.email }}</samp>,
                    non esiste.
                </p>

            {% elseif (error ?? null) == constant('App\\Controller\\NewsletterController::ERROR_USER_NOT_SUBSCRIBED') %}

                <p>
                    L'indirizzo email <samp>{{ SubscriberData.email }}</samp>
                    non risulta iscritto alla newsletter.
                </p>

            {% elseif error is defined %}

                <p>Si è verificato un errore imprevisto.</p>

            {% else %}

                <p>
                    <strong><i class="fa-solid fa-check" style="color: #63E6BE;"></i> Dis-iscrizione dalla newsletter avvenuta con successo!</strong>
                </p>

                <p>L'indirizzo <samp>{{ User.email }}</samp> non riceverà più la newsletter.</p>

                <hr>

                <p>
                    <strong><i class="fa-solid fa-rotate-left fa-shake" style="color: #e01b24;"></i> Ti sei dis-iscritto per sbaglio?</strong>
                    Puoi ri-iscriverti subito <a href="{{ User.newsletterSubscribeUrl }}">cliccando qui</a> (è sempre gratis!).
                </p>
                <p>
                    In alternativa, ci farebbe piacere <strong>sapere perché ti sei dis-iscritto</strong> e come possiamo migliorare: se ti va,
                    puoi raccontarcelo scrivendo a <a href="mailto:info@turbolab.it?subject=Feedback newsletter">info@turbolab.it</a>.
                </p>

            {% endif %}

            {% if error ?? false %}

                <hr>
                <p>
                    Se il problema persiste e continui a ricevere la newsletter, per favore
                    scrivici all'indirizzo <a href="mailto:info@turbolab.it?subject=Problema dis-iscrizione newsletter">info@turbolab.it</a>
                    e ti aiuteremo a dis-iscriverti.
                </p>

            {% endif %}
        </div>
    </section>

{% endblock %}
