{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="preload" href="{{ asset('build/home.css') }}"
        as="style" onload="this.onload=null;this.rel='stylesheet'">

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
        as="style" onload="this.onload=null;this.rel='stylesheet'">

{% endblock %}


{% block bodyMainContent %}
    <!-- HOME PAGE bodyMainContent START -->

    <section class="trending-news-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h1 class="title">{{ metaTitle }}</h1>
                    </div>
                    <!-- HOME PAGE top slider START -->
                    <div class="row trending-news-slider">
                        {% for Article in ArticlesLatestSlider %}
                            <div class="col-lg-6">
                                <div class="trending-news-item">
                                    <div class="trending-news-thumb">
                                        <a href="{{ Article.url|raw }}">
                                            <img src="{{ Article.spotlightOrDefaultUrl('slider')|raw }}"
                                                 class="tli-uniform-slider-image" alt="{{ Article.title|raw }}">
                                        </a>
                                    </div>
                                    <div class="trending-news-content">
                                        <h3 class="title"><a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a></h3>
                                    </div>
                                    <div class="tli-mosaic-post-meta">
                                        <a class="tli-meta-category" href="{{ Article.TopTagOrDefault.url|raw }}">
                                            {{ Article.TopTagOrDefault.title|upper|raw }}
                                        </a>
                                        <span class="tli-meta-slash"> · </span>
                                        <span class="tli-meta-date">{{ Article.publishedAt|friendlyDate }}</span>
                                        <br>
                                        {% if Article.AuthorsNotSystem is not empty %}
                                            <span class="tli-meta-authors">
                                                a cura di
                                                {% for Author in Article.AuthorsNotSystem %}
                                                    <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                        {% if Article.commentsUrl is not empty %}
                                            <span class="tli-meta-slash">&nbsp;</span>
                                            <a class="tli-meta-comments-num" href="{{ Article.commentsUrl }}">
                                                <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <!-- HOME PAGE top mosaic 1st half START -->
                        <div class="col-lg-6 col-md-6">
                            <div class="trending-news-post-items">
                                {% for Article in ArticlesLatestMosaic1 %}
                                    <div class="tli-mosaic-post-meta">
                                        <a class="tli-meta-category" href="{{ Article.TopTagOrDefault.url|raw }}">
                                            {{ Article.TopTagOrDefault.title|upper|raw }}
                                        </a>
                                        <span class="tli-meta-slash"> · </span>
                                        <span class="tli-meta-date">{{ Article.publishedAt|friendlyDate }}</span>
                                        <br>
                                        {% if Article.AuthorsNotSystem is not empty %}
                                            <span class="tli-meta-authors">
                                                a cura di
                                                {% for Author in Article.AuthorsNotSystem %}
                                                    <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                        {% if Article.commentsUrl is not empty %}
                                            <span class="tli-meta-slash">&nbsp;</span>
                                            <a class="tli-meta-comments-num" href="{{ Article.commentsUrl }}">
                                                <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="gallery_item">
                                        <div class="gallery_item_thumb">
                                            <a href="{{ Article.url|raw }}">
                                                <img src="{{ Article.spotlightOrDefaultUrl('micro')|raw }}"
                                                     class="tli-uniform-mosaic-image" alt="{{ Article.title|raw }}">
                                            </a>
                                        </div>
                                        <div class="gallery_item_content">
                                            <h4 class="title"><a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a></h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- HOME PAGE top mosaic 2nd half START -->
                        <div class="col-lg-6 col-md-6">
                            <div class="trending-news-post-items">
                                {% for Article in ArticlesLatestMosaic2 %}
                                    <div class="tli-mosaic-post-meta">
                                        <a class="tli-meta-category" href="{{ Article.TopTagOrDefault.url|raw }}">
                                            {{ Article.TopTagOrDefault.title|upper|raw }}
                                        </a>
                                        <span class="tli-meta-slash"> · </span>
                                        <span class="tli-meta-date">{{ Article.publishedAt|friendlyDate }}</span>
                                        <br>
                                        {% if Article.AuthorsNotSystem is not empty %}
                                            <span class="tli-meta-authors">
                                                a cura di
                                                {% for Author in Article.AuthorsNotSystem %}
                                                    <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                        {% if Article.commentsUrl is not empty %}
                                            <span class="tli-meta-slash">&nbsp;</span>
                                            <a class="tli-meta-comments-num" href="{{ Article.commentsUrl }}">
                                                <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="gallery_item">
                                        <div class="gallery_item_thumb">
                                            <a href="{{ Article.url|raw }}">
                                                <img src="{{ Article.spotlightOrDefaultUrl('micro')|raw }}"
                                                     class="tli-uniform-mosaic-image" alt="{{ Article.title|raw }}">
                                            </a>
                                        </div>
                                        <div class="gallery_item_content">
                                            <h4 class="title"><a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a></h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trending-right-sidebar">
                        <div class="trending-social">
                            <div class="section-title">
                                <h3 class="title">Seguici</h3>
                            </div>
                            <div class="social-links">
                                {% for Link in FrontendHelper.FollowUsLinks %}
                                    <a href="{{ Link.url }}" {% if Link.blank %}target="_blank"{% endif %}>
                                        <img src="{{ asset(Link.icon) }}" alt="{{ Link.name }}" title="{{ Link.name }}"
                                        width="54" height="54">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="trending-most-view mt-25">
                            <div class="section-title">
                                <h3 class="title">Aggiornamenti</h3>
                            </div>
                        </div>
                        <div class="trending-sidebar-slider">
                            <div class="post_gallery_items">
                                <!-- HOME PAGE column top slider START -->
                                {% for Topic in TopicsLatest %}
                                    <div class="tli-mosaic-post-meta">
                                        <a class="tli-meta-category" href="{{ path('app_home') }}forum">FORUM</a>
                                        <span class="tli-meta-slash"> · </span>
                                        <span class="tli-meta-date">{{ Topic.lastPostDateTime|friendlyDate }}</span>
                                        <br>
                                        <span class="tli-meta-comments-num">
                                            <i class="fa-solid fa-comment"></i> {{ Topic.postNum }}
                                            {% if Topic.postNum == 1 %}messaggio{% else %}messaggi{% endif %}
                                        </span>
                                    </div>

                                    <div class="gallery_item gallery_item-style-2">
                                        <div class="gallery_item_content">
                                            <h4 class="title"><a href="{{ Topic.url|raw }}">{{ Topic.title|raw }}</a></h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="post_gallery_items">
                                {% for Article in ArticlesLatestSecurity %}
                                    <div class="tli-mosaic-post-meta">
                                        <a class="tli-meta-category" href="{{ Article.TopTagOrDefault.url|raw }}">
                                            {{ Article.TopTagOrDefault.title|upper|raw }}
                                        </a>
                                        {% if Article.AuthorsNotSystem is not empty %}
                                            <span class="tli-meta-slash"> · </span>
                                            <span class="tli-meta-authors">
                                                a cura di
                                                {% for Author in Article.AuthorsNotSystem %}
                                                    <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </span>
                                        {% endif %}
                                        {% if Article.commentsUrl is not empty %}
                                            <span class="tli-meta-slash">&nbsp;</span>
                                            <a class="tli-meta-comments-num" href="{{ Article.commentsUrl }}">
                                                <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="gallery_item gallery_item-style-2">
                                        <div class="gallery_item_thumb">
                                            <a href="{{ Article.url|raw }}">
                                                <img src="{{ Article.spotlightOrDefaultUrl('micro')|raw }}"
                                                     class="tli-uniform-mosaic-image" alt="{{ Article.title|raw }}">
                                            </a>
                                        </div>
                                        <div class="gallery_item_content">
                                            <h4 class="title"><a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a></h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="single-play-post-area mt-10">
        <div class="container custom-container">
            <div class="single-play-box">
                <div class="row single-play-post-slider">
                    {% for Article in MiddleSlideShow %}
                        <div class="col-lg-6">
                            <div class="single-play-post-item">
                                <img src="{{ Article.spotlightOrDefaultUrl('med')|raw }}"
                                     class="tli-uniform-slider-image" alt="{{ Article.title|raw }}" loading="lazy">
                                <div class="single-play-post-content">
                                    <div class="post-meta">
                                        <div class="meta-categories">
                                            <a href="{{ Article.TopTagOrDefault.url|raw }}">{{ Article.TopTagOrDefault.title|upper|raw }}</a>
                                        </div>
                                        <div class="meta-date">
                                            <span>{{ Article.publishedAt|friendlyDate }}</span>
                                        </div>
                                    </div>
                                    <h3 class="title"><a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a></h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="video-news-area">
        <div class="container custom-container">
            <div class="video-news-box">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="video-news-post">
                            <div class="section-title section-title-2">
                                <h3 class="title">Video</h3>
                            </div>
                            <div class="video-news-post-item" id="tli-youtube-video-player">
                                <div class="video-news-post-thumb">
                                    <iframe data-tli-autoplay="0"
                                            width="720" height="404"
                                            src="{{ Videos|first.embedUrl }}"
                                            title="YouTube Video Player"
                                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                    </iframe>
                                </div>
                                <div class="video-news-post-content">
                                    <h3 class="title">{{ Videos|first.title|raw }}</h3>
                                    <div style="text-align: center; margin-top: 10px;">
                                        <a href="https://www.youtube.com/c/turbolabit?sub_confirmation=1" target="_blank">
                                            <img src="{{ asset('images/social-icons/youtube.svg') }}" width="24" height="24"
                                                 alt="YouTube" title="YouTube" loading="lazy">
                                            ISCRIVITI AL NOSTRO CANALE YOUTUBE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="populer-post">
                            <div class="section-title">
                                <h3 class="title">Altri video</h3>
                            </div>
                            <div class="trending-sidebar-slider">
                                <div class="populer-post-slider">
                                    {% for Video in Videos|slice(0, 4) %}
                                        <div class="gallery_item populer_item-style tli-video-thumb" data-embed-url="{{ Video.embedUrl|raw }}">
                                            <div class="gallery_item_thumb">
                                                <img src="{{ Video.thumbnails.default.url|raw }}" alt="Video" loading="lazy">
                                            </div>
                                            <div class="gallery_item_content">
                                                <h4 class="title">{{ Video.title|raw }}</h4>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="populer-post-slider">
                                    {% for Video in Videos|slice(4) %}
                                        <div class="gallery_item populer_item-style tli-video-thumb" data-embed-url="{{ Video.embedUrl|raw }}">
                                            <div class="gallery_item_thumb">
                                                <img src="{{ Video.thumbnails.default.url|raw }}" alt="Video" loading="lazy">
                                            </div>
                                            <div class="gallery_item_content">
                                                <h4 class="title">{{ Video.title|raw }}</h4>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="all-post-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="post-entertainment">
                        <div class="row">
                            {% for Article in ArticlesLatestMosaic3 %}
                                <div class="col-lg-6 col-md-6">
                                    <div class="trending-news-item mb-30">
                                        <div class="trending-news-thumb">
                                            <a href="{{ Article.url|raw }}">
                                                <img src="{{ Article.spotlightOrDefaultUrl('slider')|raw }}"
                                                     class="tli-uniform-slider-image" alt="{{ Article.title|raw }}" loading="lazy">
                                            </a>
                                        </div>
                                        <div class="trending-news-content">
                                            <h3 class="title"><a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a></h3>

                                            <div class="tli-mosaic-post-meta">
                                                <a class="tli-meta-category" href="{{ Article.TopTagOrDefault.url|raw }}">
                                                    {{ Article.TopTagOrDefault.title|upper|raw }}
                                                </a>
                                                <span class="tli-meta-slash"> · </span>
                                                <span class="tli-meta-date">{{ Article.publishedAt|friendlyDate }}</span>
                                                <br>
                                                {% if Article.AuthorsNotSystem is not empty %}
                                                    <span class="tli-meta-authors">
                                                        a cura di
                                                        {% for Author in Article.AuthorsNotSystem %}
                                                            <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                {% endif %}
                                                {% if Article.commentsUrl is not empty %}
                                                    <span class="tli-meta-slash">&nbsp;</span>
                                                    <a class="tli-meta-comments-num" href="{{ Article.commentsUrl }}">
                                                        <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                            {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                                    </a>
                                                {% endif %}
                                            </div>

                                            <p class="text"><a href="{{ Article.url|raw }}">{{ Article.abstractOrDefault|raw }}</a></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="business-news-post pt-40">
                        <div class="business-post">
                            {% for Article in Articles %}
                                <div class="business-post-item mb-40">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="business-post-thumb">
                                                <a href="{{ Article.url|raw }}">
                                                    <img src="{{ Article.spotlightOrDefaultUrl('slider')|raw }}"
                                                         class="tli-uniform-slider-image" alt="{{ Article.title|raw }}" loading="lazy">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="trending-news-item">
                                                <div class="trending-news-content">
                                                    <h3 class="title"><a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a></h3>

                                                    <div class="tli-mosaic-post-meta">
                                                        <a class="tli-meta-category" href="{{ Article.TopTagOrDefault.url|raw }}">
                                                            {{ Article.TopTagOrDefault.title|upper|raw }}
                                                        </a>
                                                        <span class="tli-meta-slash"> · </span>
                                                        <span class="tli-meta-date">{{ Article.publishedAt|friendlyDate }}</span>
                                                        <br>
                                                        {% if Article.AuthorsNotSystem is not empty %}
                                                            <span class="tli-meta-authors">
                                                                a cura di
                                                                {% for Author in Article.AuthorsNotSystem %}
                                                                    <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                                {% endfor %}
                                                            </span>
                                                        {% endif %}
                                                        {% if Article.commentsUrl is not empty %}
                                                            <span class="tli-meta-slash">&nbsp;</span>
                                                            <a class="tli-meta-comments-num" href="{{ Article.commentsUrl }}">
                                                                <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                                {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                                            </a>
                                                        {% endif %}
                                                    </div>

                                                    <p class="text"><a href="{{ Article.url|raw }}">{{ Article.abstractOrDefault|raw }}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="all-post-sidebar">
                        <div class="most-share-post">
                            <div class="section-title">
                                <h3 class="title">Le guide più richieste</h3>
                            </div>
                        </div>

                        <div class="trending-sidebar-slider">
                            <!-- HOME PAGE most requested articles slider START -->
                            {% for HalfArticlesMostViews in SplitArticlesMostViews %}
                                <div class="post_gallery_items">
                                    {% for Article in HalfArticlesMostViews %}
                                        <div class="tli-mosaic-post-meta">
                                            <a class="tli-meta-category" href="{{ Article.TopTagOrDefault.url|raw }}">
                                                {{ Article.TopTagOrDefault.title|upper|raw }}
                                            </a>
                                            <br>
                                            {% if Article.AuthorsNotSystem is not empty %}
                                                <span class="tli-meta-authors">
                                                    a cura di
                                                    {% for Author in Article.AuthorsNotSystem %}
                                                        <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                </span>
                                            {% endif %}
                                            {% if Article.commentsUrl is not empty %}
                                                <span class="tli-meta-slash">&nbsp;</span>
                                                    <a class="tli-meta-comments-num" href="{{ Article.commentsUrl }}">
                                                    <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                    {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="gallery_item gallery_item-style-2">
                                            <div class="gallery_item_thumb">
                                                <a href="{{ Article.url|raw }}">
                                                    <img src="{{ Article.spotlightOrDefaultUrl('micro')|raw }}"
                                                         class="tli-uniform-mosaic-image" alt="{{ Article.title|raw }}" loading="lazy">
                                                </a>
                                            </div>
                                            <div class="gallery_item_content">
                                                <h4 class="title"><a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a></h4>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>


                        <div class="Categories-post mt-40">
                            <div class="section-title d-flex justify-content-between align-items-center">
                                <h3 class="title">Categorie</h3>
                            </div>
                            <div>
                                {% for Link in FrontendHelper.NavCategories %}
                                    <div class="item">
                                        <div class="Categories-content">
                                            <a href="{{ Link.url }}">
                                                <i class="{{ Link.fa|first }}"></i> &nbsp;{{ Link.name }}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- HOME PAGE bodyMainContent END -->
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
            async='async'></script>

    {{ parent() }}
    {{ encore_entry_script_tags('home') }}

{% endblock %}
