{% for Author in Authors %}

    <div class="list-group-item d-flex justify-content-between align-items-center"
         {% if loop.last %}style="border-bottom-style: none"{% endif %} data-author-id="{{ Author.id }}">

        <div class="tli-article-editor-author-info">

            <div class="tli-article-editor-author-avatar-container">

                {% if Author.avatarUrl is not empty %}

                    <img src="{{ Author.avatarUrl }}" width="48" class="tli-article-editor-author-avatar"
                         alt="Avatar (immagine di profilo) di {{ Author.fullNameForHTMLAttribute|raw }}">

                {% else %}

                    <i class="fa-solid fa-user-tie" style="color: #deddda;"></i>

                {% endif %}

            </div>

            <a href="{{ Author.url }}" class="ml-5" target="_blank">
                {% if Author.id == app.user.id %}<strong>TU!</strong>{% endif%} {{ Author.fullName|raw }}
                <br>
                <small>
                    {% if Author.isSystem %}
                        🤖 Bot ufficiale di TurboLab.it
                    {% else %}
                        {{ Author.articlesPublishedNum }} {% if Author.articlesNum == 1 %}articolo pubblicato{% else %}articoli pubblicati{% endif %}
                    {% endif %}
                </small>
            </a>

        </div>

        <button type="button" class="btn btn-sm btn-outline-danger tli-remove-author {% block removeAuthorClass %}{% endblock %}">
            <i class="fa-solid fa-user-minus mr-5"></i> Rimuovi
        </button>

        <button type="button" class="btn btn-sm btn-outline-success tli-add-author {% block addAuthorClass %}{% endblock %}">
            <i class="fa-solid fa-user-plus mr-5"></i> Aggiungi
        </button>

        <button type="button" class="btn btn-sm btn-outline-success disabled d-none tli-author-already">
            <i class="fa-solid fa-user-plus mr-5"></i> È già autore
        </button>

    </div>

{% endfor %}
