<div class="modal-body">

    <div class="mb-4">
        <p>Aggiungi e rimuovi gli autori dell'articolo</p>
        <p>
            Ricorda che chiunque abbia partecipato alla realizzazione o al miglioramento dell'articolo,
            anche se ha svolto solo qualche correzione, deve essere accreditato fra gli autori.
        </p>
    </div>


    <div class="mb-4">

        <h6>Autori attuali</h6>

        <div class="list-group list-group-flush border rounded-3 p-2 tli-article-editor-current-authors-list" style="max-height: 200px; overflow-y: auto;">

            {% for Author in Article.Authors %}

                <div class="list-group-item d-flex justify-content-between align-items-center"
                     {% if loop.last %}style="border-bottom-style: none"{% endif %}
                     data-author-id="{{ Author.id }}">

                    <div class="tli-article-editor-author-info">

                        <div class="tli-article-editor-author-avatar-container">

                            {% if Author.avatarUrl is not empty %}

                                <img src="{{ Author.avatarUrl }}" width="64" class="tli-article-editor-author-avatar"
                                     alt="Avatar (immagine di profilo) di {{ Author.fullNameForHTMLAttribute|raw }}">

                            {% else %}

                                <i class="fa-solid fa-user-tie" style="color: #deddda;"></i>

                            {% endif %}

                        </div>

                        <span class="ml-5">{% if Author.id == app.user.id %}<strong>TU!</strong>{% endif%} {{ Author.fullName|raw }}</span>

                    </div>

                    <button type="button" class="btn btn-sm btn-outline-danger tli-remove-author">
                        <i class="bi bi-person-dash"></i> Rimuovi
                    </button>
                </div>

            {% endfor %}

            <div class="text-muted text-center tli-no-author-message collapse">Nessun utente selezionato come autore</div>

        </div>

    </div>


    <!-- Add Authors Section -->
    <div class="mb-3 tli-authors-autocomplete-container">

        <h6>Aggiungi nuovi autori</h6>

        <div class="input-group mb-2">
            <input type="text" name="username" class="form-control tli-authors-autocomplete" placeholder="Cerca utente per username"
                data-autocomplete-url="{{ path('app_editor_article_authors-autocomplete') }}">
        </div>

        <div class="list-group border rounded-3 mt-2 tli-article-editor-candidate-authors-list collapse"
             style="max-height: 250px; overflow-y: auto;"></div>

    </div>

</div>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
