{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="preload" href="{{ asset('build/article.css') }}"
          as="style" onload="this.onload=null;this.rel='stylesheet'">

    <link rel="preload" href="{{ asset('build/article-new.css') }}"
          as="style" onload="this.onload=null;this.rel='stylesheet'">

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

{% endblock %}


{% block bodyMainContent %}
    <!-- NEW ARTICLE bodyMainContent START -->
    <section class="post-layout-1-area post-layout-3-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-author-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                                <li class="breadcrumb-item">
                                    <i class="fa-solid fa-pen"></i>&nbsp;Nuovo articolo
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <!-- NEW ARTICLE main content START -->
                <article class="col-lg-8">

                    <div class="post-layout-top-content post-layout-top-content-3 tli-article-main-content">

                        <div class="post-content"><h1 class="title">{{ metaTitle }}</h1></div>

                        <div class="post-text mt-30 tli-article-body">
                            <p>
                                TurboLab.it è un sito collaborativo: gli articoli sono scritti dagli utenti appassionati
                                della nostra community (come te!).
                                Se anche tu vuoi pubblicare un nuovo articolo, questa è la pagina giusta.
                            </p>

                            <div class="alert alert-warning" role="alert" style="text-align: center">
                                <a href="/forum">
                                    <strong>
                                        <i class="fa-solid fa-hand" style="color: #ff0000;"></i>
                                        ATTENZIONE! Questa NON è la pagina per "fare domande"
                                    </strong><br>
                                    Se vuoi fare una domanda o interagire con la community,
                                    <i class="fa-solid fa-hand-point-right fa-shake" style="color: #ff1100;"></i>
                                    visita il forum
                                </a>
                            </div>

                            <div class="alert alert-primary" role="alert" style="text-align: center">
                                <a href="{{ ArticleHowTo.url|raw }}">
                                    <strong>
                                        <i class="fa-solid fa-person-chalkboard"></i>
                                        Prima di cominciare a scrivere...
                                    </strong><br>
                                    Per favore, leggi sempre la guida &quot;{{ ArticleHowTo.title|raw }}&quot;
                                </a>
                            </div>


                            {% if CurrentUserDraftArticles.count or CurrentUserPublishedArticles.count %}

                                <h2 {% if CurrentUserDraftArticles.count %}style="color: #f5c211;"{% endif %}>
                                    <i class="fa-solid fa-pen-ruler"></i> I tuoi articoli in lavorazione (bozze)
                                </h2>

                            {% endif %}

                            {% if CurrentUserDraftArticles.count %}

                                <p>
                                    Questi sono gli articoli ai quali stai ancora lavorando.
                                    <i class="fa-solid fa-triangle-exclamation" style="color: #FFD43B;"></i>
                                    Valuta di completare uno di questi prima di iniziarne uno nuovo.
                                </p>

                                {{ include('article/editor/new-table.html.twig', {Articles: CurrentUserDraftArticles}) }}

                                <p>
                                    <strong><i class="fa-solid fa-triangle-exclamation" style="color: #FFD43B;"></i> Ricorda!</strong>
                                    Fino a quando non finirai questi articoli, e ne modificherai lo stato in
                                    <code>Pronto e finito</code>, non saranno disponibili ai visitatori!
                                </p>

                            {% elseif CurrentUserPublishedArticles.count %}

                                <p>
                                    Al momento, non hai articoli in lavorazione. Puoi iniziare a scrivere un nuovo articolo
                                    tramite il form seguente.
                                </p>

                            {% endif %}


                            <h2 class="show-new-article-form">👉 Inizia un nuovo articolo</h2>
                            <p>
                                Per favore: prima di inserire un articolo, <strong>cerca!</strong>
                                Devi assicurati che l'argomento non sia già stato trattato.
                                Se pubblicherai un articolo duplicato, verrà eliminato immediatamente.
                            </p>

                            <form action="{{ path('app_search') }}" method="GET" target="_blank" id="search-article-form">

                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" name="query" required
                                           maxlength="255" placeholder="L&quot;articolo che vorrei scrivere tratta di..."
                                           style="margin-right: 7px;">

                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa-solid fa-magnifying-glass fa-shake"></i> Cerca su TurboLab.it
                                    </button>
                                </div>

                            </form>


                            <p class="mt-30" style="margin-bottom: 10px">
                                <i class="fa-solid fa-circle-info"></i>
                                Dopo aver cercato, potrai iniziare a scrivere il tuo articolo da qui 👇
                            </p>


                            <form action="{{ path('app_editor_new') }}" method="POST" style="margin-bottom: 27px;">

                                <label for="new-article-title" class="form-label show-new-article-form">
                                    Titolo del tuo nuovo articolo:
                                </label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" name="new-article-title" id="new-article-title"
                                           minlength="19" maxlength="255"
                                           placeholder="Prima di inserire un nuovo articolo devi cercare"
                                           data-placeholder-after-search="Digita il titolo del tuo articolo"
                                           style="margin-right: 7px;" required disabled>

                                    <button type="submit" class="btn btn-primary" disabled>
                                        <i class="fa-solid fa-floppy-disk"></i> Salva
                                    </button>
                                </div>

                            </form>


                            {% if CurrentUserInReviewArticles.count or CurrentUserPublishedArticles.count %}

                                <h2 style="color: #f5c211;">
                                    <i class="fa-solid fa-book"></i> I tuoi articoli in stato &quot;Pronto e finito&quot;
                                </h2>

                            {% endif %}

                            {% if CurrentUserInReviewArticles.count %}

                                <p>
                                    Questi sono gli articoli che hai già indicato come <code>Pronto e finito</code>.
                                    Non devi fare null'altro: sono già visibili pubblicamente a tutti.
                                    Il team editoriale provvederà a valutarli e, in caso, a pubblicarli anche in home page.
                                </p>

                                {{ include('article/editor/new-table.html.twig', {Articles: CurrentUserInReviewArticles}) }}

                            {% elseif CurrentUserPublishedArticles.count %}

                                <p>
                                    Al momento, non sono presenti tuoi articoli in stato &quot;Pronto e finito&quot;.

                                    {% if CurrentUserDraftArticles.count %}

                                        Completa uno dei tuoi articoli <code>In lavorazione (bozza)</code>
                                        e poi marcalo come <code>Pronto e finito</code>.
                                        Oppure: inserisci un nuovo articolo tramite il form qui sopra.

                                    {% else %}

                                        Se vuoi, puoi inserire un nuovo articolo tramite il form qui sopra.

                                    {% endif %}

                                </p>

                            {% endif %}


                            {% if CurrentUserPublishedArticles.count %}

                                <h2 style="color: #33d17a;">
                                    <i class="fa-solid fa-book"></i> I tuoi articoli pubblicati
                                </h2>

                                <p>
                                    Ottimo lavoro! Questi sono i tuoi articoli più recenti revisionati dal team editoriale e
                                    pubblicati in home page e sul sito.
                                </p>

                                <table class="table table-hover table-sm">
                                    <thead class="table-primary">
                                    <tr>
                                        <th scope="col">Titolo</th>
                                        <th scope="col"></th>
                                        <th scope="col">Data di uscita</th>
                                        <th scope="col">Visualiz.</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for Article in CurrentUserPublishedArticles %}
                                        <tr>
                                            <td><a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a></td>
                                            <td><small>{{ Article.publishedAtRecencyLabel }}</small></td>
                                            <td>{{ Article.PublishedAt|date('d/m/Y H:i') }}</td>
                                            <td>{{ Article.views }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <p>
                                    <a href="{{ currentUserUrl }}">
                                        <i class="fa-solid fa-list" style="color: #74C0FC;"></i>
                                        La lista completa dei tuoi articoli pubblicati è sempre disponibile alla
                                        tua pagina personale.
                                    </a>
                                </p>

                            {% endif %}


                            {% if CurrentUserKoArticles.count %}

                                <h2 style="color: purple;">
                                    <i class="fa-solid fa-circle-exclamation"></i> Articoli non-pubblicabili
                                </h2>
                                <p>
                                    Il team editoriale ha revisionato i seguenti articoli.
                                    Ti ringraziamo per il tuo contributo, ma, nella forma attuale, non possono essere pubblicati
                                    poiché non rispecchiano il livello che desideriamo garantire.
                                </p>

                                {{ include('article/editor/new-table.html.twig', {Articles: CurrentUserKoArticles}) }}

                                <p>
                                    Se lo desideri, puoi sempre migliorarli e poi segnarli come
                                    <code>Pronto e finito</code> per chiederne nuovamente la pubblicazione.
                                    Se invece desideri chiarimenti o ti serve una mano, puoi
                                    <a href="/forum/posting.php?mode=post&amp;f=6">scrivere sul forum (pubblico)</a>.
                                </p>

                                <p class="mt-30" style="margin-bottom: 10px">
                                    <i class="fa-solid fa-circle-info"></i>
                                    Questi articoli non sono più visibili dal pubblico, e potrebbero essere eliminati.
                                    Ti raccomandiamo di farne una copia sul tuo PC, se desideri conservarli.
                                </p>

                            {% endif %}

                        </div>

                    </div>

                </article>
                <!-- NEW ARTICLE main END -->


                <!-- NEW ARTICLE side column START -->
                <div class="col-lg-4 mt-20">
                    <div class="trending-right-sidebar">

                        <h3 class="title">Aggiornati di recente</h3>

                        <div class="tli-slick-slider" data-slick='{"autoplaySpeed": 10000, "infinite": false, "dots": true}'>

                            {% for Articles in SideArticlesSlices %}

                                <div class="tli-slick-slider-page">

                                    {% for Article in Articles %}

                                        <div>
                                            {% include 'article/publishing-status.html.twig' %}

                                            <div style="margin-bottom: 5px; font-weight: bold">
                                                <a href="{{ Article.url|raw }}">{{ Article.title|raw }}</a>
                                            </div>

                                            <div>
                                                di
                                                {% for Author in Article.Authors %}
                                                    <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                                <i class="fa-regular fa-clock"></i> {{ Article.updatedAt|friendlyDate }}
                                            </div>

                                            {% if not loop.last %}<hr>{% endif %}
                                        </div>

                                    {% endfor %}

                                    {% if loop.last %}
                                        <p class="mt-30">
                                            <i class="fa-solid fa-circle-info"></i>
                                            Consulta anche le liste complete:
                                            {% for View in Views %}
                                                <a href="{{ View.url }}">{{ View.title }}</a>{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        </p>
                                    {% endif %}

                                </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>
                <!-- NEW ARTICLE side column END -->

            </div>
        </div>
    </section>
    <!-- NEW ARTICLE bodyMainContent END -->

{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    {{ parent() }}
    {{ encore_entry_script_tags('article-new') }}

{% endblock %}
