{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="preload" href="{{ asset('build/archive.css') }}"
        as="style" onload="this.onload=null;this.rel='stylesheet'">

{% endblock %}


{% block metaRobots %}
    {% if Articles.count == 0 %}
        noindex,follow
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block bodyMainContent %}

    <!-- ARCHIVE bodyMainContent START -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author-content mt-10">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                            {% block breadcrumb %}
                                <li class="breadcrumb-item active" aria-current="page">Pagina {{ currentPage }}</li>
                            {% endblock %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h1 class="title">{{ metaTitle|raw }}</h1>
                </div>
            </div>
        </div>
    </div>

    {% block beforeArticleList %}{% endblock %}

    <section class="about-item-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-tab-btn mt-20">
                        <div class="about-post-items">
                            <div class="row">

                                {% for Article in Articles %}

                                    {% set loopMod = loop.index % 10 %}
                                    {% if loopMod == 0 %}
                                        {% set loopMod = 10 %}
                                    {% endif %}

                                    {% if loopMod <= 2 or (loopMod > 8 and loopMod <= 10) %}
                                        {% set bootstrapColumnWidth = 6 %}
                                    {% else %}
                                        {% set bootstrapColumnWidth = 4 %}
                                    {% endif %}

                                    <div class="col-lg-{{ bootstrapColumnWidth }} col-md-{{ bootstrapColumnWidth }}">
                                        <div class="trending-news-item mb-30">

                                            <div class="trending-news-thumb">
                                                <a href="{{ Article.url }}">
                                                    <img src="{{ Article.spotlightOrDefaultUrl('slider') }}"
                                                         class="tli-uniform-slider-image" alt="{{ Article.title|raw }}" loading="lazy">
                                                </a>
                                            </div>

                                            <div class="tli-mosaic-post-meta">

                                                {% if Article.isListable %}
                                                    <a class="tli-meta-category" href="{{ Article.TopTagOrDefault.url|raw }}">
                                                        {{ Article.TopTagOrDefault.title|upper|raw }}
                                                    </a>

                                                    <span class="tli-meta-slash"> · </span>
                                                {% endif %}

                                                <span class="tli-meta-date">{{ (Article.publishedAt ?? Article.updatedAt)|friendlyDate }}</span>

                                            </div>

                                            <div class="trending-news-content">
                                                <h2 class="title"><a href="{{ Article.url }}">{{ Article.title|raw }}</a></h2>
                                            </div>

                                            <div class="tli-mosaic-post-meta">

                                                {% if Article.AuthorsNotSystem is not empty %}
                                                    <span class="tli-meta-authors">
                                                        a cura di
                                                        {% for Author in Article.AuthorsNotSystem %}
                                                            <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                {% endif %}

                                                {% if Article.commentsUrl is not empty %}
                                                    <span class="tli-meta-slash">&nbsp;</span>
                                                    <a class="tli-meta-comments-num" href="{{ Article.commentsUrl }}">
                                                        <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                        {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                                    </a>
                                                {% endif %}

                                                {% if not Article.isPublished %}
                                                    <span class="tli-meta-slash">&nbsp;</span>
                                                    <small>{% include('article/publishing-status.html.twig') %}</small>
                                                {% endif %}

                                                {% if app.user %}
                                                    <span class="tli-meta-slash">&nbsp;</span>
                                                    <span class="tli-meta-comments-num" title="ID dell'articolo">
                                                        <i class="fa-solid fa-hashtag"></i>{{ Article.id }}
                                                    </span>
                                                {% endif %}
                                            </div>

                                            <div class="trending-news-content">
                                                <p class="text"><a href="{{ Article.url }}">{{ Article.abstract|raw }}</a></p>
                                            </div>

                                        </div>
                                    </div>

                                {% else %}

                                    <div class="tli-fullpage-message mb-35" style="font-size: 22px">Nessun articolo trovato.</div>
                                    <div class="tli-fullpage-message mb-35" style="font-size: 18px">
                                        <a href="{{ path('app_home') }}">
                                            <i class="fa-solid fa-house"></i> Torna alla Homepage
                                        </a>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ARCHIVE bodyMainContent END -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('archive') }}

{% endblock %}
