{% for Article in LocalResults %}

    <div class="card article-card">
        <div class="card-body">
            <div class="row g-3">
                {% if Article.spotlightUrl('min') is not empty %}
                    <div class="col-12 col-md-auto order-md-2">
                        <a href="{{ Article.url }}">
                            <img src="{{ Article.spotlightUrl('min') }}"
                                 alt="Copertina" class="article-image rounded" loading="lazy">
                        </a>
                    </div>
                {% endif %}
                <div class="col-12 col-md order-md-1">
                    <h3 class="title mb-2">
                        <a href="{{ Article.url }}">{{ Article.titleWithFreshUpdatedAt|raw }}</a>
                    </h3>
                    <div class="article-abstract">
                        <a href="{{ Article.url }}">{{ Article.abstract|raw }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% else %}

    <div class="article-abstract">
        <p class="alert alert-warning"> 🪹 Nessun risultato.</p>
    </div>

{% endfor  %}
