{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="preload" href="{{ asset('build/search.css') }}"
          as="style" onload="this.onload=null;this.rel='stylesheet'">

{% endblock %}


{% block bodyMainContent %}

    <!-- SERP bodyMainContent START -->
    <div class="search-header">
        <div id="tli-search-container" class="container" data-url="{{ path('app_search') }}">
            <h1 class="title">{{ metaTitle|raw }}</h1>
            <div class="input-group">
                <input type="text" id="tli-search-input" class="form-control form-control-lg" placeholder="windows 11 usb"
                       value="{{ (termToSearch ?? null)|raw }}" required minlength="3">
                <button class="btn btn-light btn-lg" type="button" id="tli-search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
            <div id="tli-search-too-short-error" class="ml-5 mt-2">Digita almeno 3 caratteri, poi premi &quot;Invio&quot;</div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">

        <i class="tli-loaderino fa-solid fa-spinner fa-spin-pulse fa-2xl mb-5 collapse"></i>

        <div id="tli-search-results" data-url="{{ path('app_search_ajax') }}"></div>

        <div id="tli-search-closing-message" class="article-abstract mb-3 collapse">
            <i class="fa-solid fa-lightbulb fa-fade" style="color: #FFD43B;"></i>
            Non trovi quello che cerchi? Prova a effettuare una nuova ricerca usando
            altre parole oppure <a href="/forum">chiedi sul forum</a>.
        </div>
    </div>
    <!-- SERP bodyMainContent END -->

{% endblock %}

{% block javascripts %}

    <script src="/assets/js/stellarnav.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="https://kit.fontawesome.com/efe2621351.js" crossorigin="anonymous"></script>

    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('search') }}

{% endblock %}
