{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="preload" href="{{ asset('build/search.css') }}"
        as="style" onload="this.onload=null;this.rel='stylesheet'">

{% endblock %}


{% block bodyMainContent %}

    <!-- SERP bodyMainContent START -->
    <section class="post-layout-1-area post-layout-3-area">
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <div class="about-author-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                                <li class="breadcrumb-item">Risultati della ricerca</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <article class="col-lg-8">

                    <div class="post-layout-top-content post-layout-top-content-3">

                        <div class="post-content">
                            <h1 class="title">{{ metaTitle|raw }}</h1>
                        </div>

                        <form action="{{ path('app_search') }}" class="submit-to-path" method="GET">
                            <div class="form-group">
                                <input type="text" class="form-control submit-to-path" name="query" required
                                       value="{{ (termToSearch ?? null)|raw }}" style="margin-bottom: 7px;">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-magnifying-glass"></i> Cerca su TurboLab.it
                                </button>
                            </div>
                        </form>

                        <div class="post-text mt-30">

                            <p><small><i class="fa-solid fa-circle-info"></i> Risultati forniti da Google</small></p>

                            {% if GoogleResults.items ?? null is not empty %}

                                {% for Item in GoogleResults.items %}

                                    <div class="serp-result google-result">
                                        <h4><a href="{{ Item.link }}">{{ Item.htmlTitle|replace({'[TurboLab.it]': ''})|raw }}</a></h4>
                                        <p><a href="{{ Item.link }}">{{ Item.htmlSnippet|raw }}</a></p>
                                    </div>

                                {% endfor %}

                            {% else %}

                                <p>{{ noResultsMessage }}</p>

                            {% endif %}


                            <hr>
                            <p><small><i class="fa-solid fa-circle-info"></i> Articoli che contengono le parole cercate nel titolo</small></p>

                            {% if LocalResults is not empty %}

                                {% for Article in LocalResults %}
                                    <div class="serp-result local-result">
                                        <h4><a href="{{ Article.url }}">{{ Article.title|raw }}</a></h4>
                                        <p><a href="{{ Article.url }}">{{ Article.abstract|raw }}</a></p>
                                    </div>
                                {% endfor %}

                            {% else %}

                                <p>{{ noResultsMessage }}</p>

                            {% endif %}

                            <p>
                                <i class="fa-solid fa-lightbulb fa-fade" style="color: #FFD43B;"></i>
                                Non hai trovato quello che cerchi? Prova a effettuare una nuova ricerca usando
                                altre parole oppure <a href="/forum">chiedi sul forum</a>.
                            </p>

                        </div>

                    </div>

                </article>

                {% include 'parts/column-articles.html.twig' %}

            </div>
        </div>
    </section>
    <!-- SERP bodyMainContent END -->

{% endblock %}

{% block javascripts %}

    <script src="/assets/js/stellarnav.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="https://kit.fontawesome.com/efe2621351.js" crossorigin="anonymous"></script>

    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('search') }}

{% endblock %}
