{% extends 'archive/index.html.twig' %}

{% block metaDescription %}Scopri le ultime notizie e aggiornamenti su tecnologia, sicurezza informatica e truffe online. Rimani informato sulle novità digitali, proteggi la tua privacy e naviga in sicurezza.{% endblock %}

{% block breadcrumb %}

    {% if currentPage < 2 %}

        <li class="breadcrumb-item active">News</li>

    {% else %}

        <li class="breadcrumb-item"><a href="{{ path('app_news') }}">News</a></li>
        {{ parent() }}

    {% endif %}

{% endblock %}


    {% block beforeArticleList %}
        <div class="container">
            <div class="row">
                <div class="trending-social">
                    <div id="social-links">
                        <span class="cta-social-top">Seguici in tempo reale</span>
                        {% for Link in FrontendHelper.ownFollowUsPages|merge(FrontendHelper.socialMediaPages) %}
                            <a href="{{ Link.url }}" {% if Link.blank %}target="_blank"{% endif %}>
                                <img src="{{ asset(Link.icon) }}" width="32px"
                                     alt="{{ Link.name }}" title="{{ Link.name }}" loading="lazy">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
