<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">

    <title>{% block metaTitle %}{{ (metaTitle ?? null)|raw }}{% endblock %}{% block metaTitleSuffix %}{{ metaTitleSuffix ?? null }}{% endblock %}</title>
    <meta property="og:title" content="{{ block('metaTitle') }}">
    <meta name="twitter:title" content="{{ block('metaTitle') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <meta name="description" content="{% block metaDescription %}{{ (metaDescription ?? null)|raw }}{% endblock %}">
    <meta property="og:description" content="{{ block('metaDescription') }}">
    <meta name="twitter:description" content="{{ block('metaDescription') }}">

    <link rel="canonical" href="{% block metaCanonicalUrl %}{{ metaCanonicalUrl ?? app.request.uri }}{% endblock %}">
    <meta property="og:url" content="{{ block('metaCanonicalUrl') }}">

    <meta property="og:type" content="{% block metaOgType %}website{% endblock %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{% block metaPageImageUrl %}{{ metaPageImageUrl ?? null }}{% endblock %}">
    <meta name="twitter:image" content="{{ block('metaPageImageUrl') }}">

    <meta name="twitter:site" content="{% block metaTwitterHandle %}{{ websiteTwitterHandle ?? null }}{% endblock %}">
    <meta name="twitter:creator" content="{% block metaTwitterHandleAuthor %}{{ authorTwitterHandle ?? websiteTwitterHandle ?? null }}{% endblock %}">

    <meta name="robots" content="{% block metaRobots %}index,follow{% endblock %}">

    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="alternate" type="application/rss+xml" title="Feed" href="{% block metaFeedUrl %}/feed{% endblock %}">

    {% if Paginator is defined and Paginator.PreviousPage ?? null is not empty %}
        <link rel="prev" href="{{ Paginator.PreviousPage.url }}">
    {% endif %}

    {% if Paginator is defined and Paginator.NextPage ?? null is not empty %}
        <link rel="next" href="{{ Paginator.NextPage.url }}">
    {% endif %}

    {% block metaFonts %}
        <link rel="preload" href="https://PLACEHOLDER.example.com/font.woff" as="font" type="font/woff2" crossorigin>
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="css/styles.css?v=1.0">
        {#{ encore_entry_link_tags('app') }#}
    {% endblock %}

    {% if gtmId is defined %}
        <!-- Google Tag Manager (GTM) -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ gtmId }}');
        </script>
        <!-- End Google Tag Manager (GTM) -->
    {% endif %}
</head>

<body>

    {% block bodyStart %}{% endblock %}

    {% if gtmId is defined %}
        <!-- Google Tag Manager (GTM) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id={{ gtmId }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (GTM) -->
    {% endif %}

    {% block bodyHeader %}
        <header id="page-top">
            <a href="/"><img src="{{ websiteLogoUrl ?? null }}" alt="{{ siteName ?? null }}"></a>
        </header>
    {% endblock %}

    {% block bodyNav %}
        <nav>
            <ul>
                <li><a href="/">{{ siteName ?? null }}</a></li>
            </ul>
        </nav>
    {% endblock %}

    {% block bodyMainContent %}
        <article id="article-top">
            <h1>PLACEHOLDER PageH1</h1>
            <h2>PLACEHOLDER PageH2</h2>
            <p>PLACEHOLDER Paragraph</p>
        </article>
    {% endblock %}

    {% block bodyAside %}
        <aside>PLACEHOLDER Aside</aside>
    {% endblock %}

    {% block bodyFooter %}
        <footer>
            <div>{{ block("metaDescription") }}</div>
        </footer>
    {% endblock %}

    {% block bodyPreEnd %}{% endblock %}

    {% block javascripts %}
        <!-- https://releases.jquery.com -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        {#{ encore_entry_script_tags('app') }#}
        <script src="/PLACEHOLDER/scripts.js"></script>
    {% endblock %}

    {% block bodyEnd %}{% endblock %}
</body>
</html>
