<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <title>{% block metaTitle %}{{ (metaTitle ?? null)|raw }}{% endblock %}{% block metaTitleSuffix %}{{ metaTitleSuffix ?? null }}{% endblock %}</title>
    <meta property="og:title" content="{{ block('metaTitle') }}">
    <meta name="twitter:title" content="{{ block('metaTitle') }}">

    <meta name="description" content="{% block metaDescription %}{{ (metaDescription ?? null)|raw }}{% endblock %}">
    <meta property="og:description" content="{{ block('metaDescription') }}">
    <meta name="twitter:description" content="{{ block('metaDescription') }}">

    <link rel="canonical" href="{% block metaCanonicalUrl %}{{ metaCanonicalUrl ?? app.request.uri }}{% endblock %}">
    <meta property="og:url" content="{{ block('metaCanonicalUrl') }}">

    <meta property="og:type" content="{% block metaOgType %}website{% endblock %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{% block metaPageImageUrl %}{{ metaPageImageUrl ?? null }}{% endblock %}">
    <meta name="twitter:image" content="{{ block('metaPageImageUrl') }}">

    <meta name="twitter:site" content="{% block metaTwitterHandle %}{{ websiteTwitterHandle ?? null }}{% endblock %}">
    <meta name="twitter:creator" content="{% block metaTwitterHandleAuthor %}{{ authorTwitterHandle ?? websiteTwitterHandle ?? null }}{% endblock %}">

    <meta name="robots" content="{%- block metaRobots -%}{{ metaRobots ?? 'index,follow' }}{%- endblock -%}">

    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="search" type="application/opensearchdescription+xml" title="TurboLab.it" href="/open-search.xml">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://kit.fontawesome.com">
    <link rel="preconnect" href="https://ajax.googleapis.com">
    <link rel="preconnect" href="https://code.jquery.com">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">

    <link rel="alternate" type="application/rss+xml" title="Feed" href="{% block metaFeedUrl %}{{ absolute_url(path('app_feed')) }}{% endblock %}">

    {% if (Pages.prev.url ?? null) is not empty %}
        <link rel="prev" href="{{ Pages.prev.url }}">
    {% endif %}

    {% if (Pages.next.url ?? null) is not empty %}
        <link rel="next" href="{{ Pages.next.url }}">
    {% endif %}

    <!-- Google Analytics (GA4) Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BMZ19KGXP8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-BMZ19KGXP8', {'anonymize_ip': true});
    </script>

    {% block stylesheets %}

        {#<style>
            @import url(https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;800;900&display=swap);.stellarnav{line-height:normal;position:relative;width:100%;z-index:990}.stellarnav a{color:#777}.stellarnav ul{margin:0;padding:0;text-align:left}.stellarnav li{display:block;line-height:normal;list-style:none;margin:0;padding:0;position:relative;vertical-align:middle}.stellarnav li a{box-sizing:border-box;color:#777;display:block;font-family:inherit;font-size:inherit;padding:15px;text-decoration:none}.stellarnav>ul>li{display:inline-block}.stellarnav>ul>li>a{padding:20px 18px}.stellarnav>ul>li>a.active{background:#f3f3f4;color:#1091ff;z-index:10}.stellarnav>ul>li>a.active:before{width:100%}.stellarnav>ul>li>a:before{background:#1091ff;bottom:0;content:"";height:2px;left:0;position:absolute;width:0;z-index:-1;z-index:1}.stellarnav ul ul{background:#ddd;display:none;position:absolute;text-align:left;top:auto;width:230px;z-index:9900}.stellarnav li li{display:block}@media only screen and (max-width:992px){.stellarnav>ul>li>a{padding:20px 15px}}@media only screen and (max-width:768px){.stellarnav{display:block;overflow:hidden}.stellarnav ul{display:none;position:relative}}.mt-25{margin-top:25px}body,html{height:100%}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{color:#515a60;font-family:Heebo,sans-serif;font-size:15px;font-weight:300;line-height:24px}.home-1-bg{background:#fcfcfc}img{max-width:100%}a{color:#17222b;text-decoration:none}h1,h3,h4{color:#222;font-family:Heebo,sans-serif;font-weight:500;line-height:normal;margin:0 0 15px}.title{text-transform:capitalize}.section-title{margin-bottom:15px}.section-title .title{font-size:24px;font-weight:500;margin-bottom:0}.post_gallery_items::-webkit-scrollbar{width:2px}.post_gallery_items::-webkit-scrollbar-track{background:#f6f7f7}.post_gallery_items::-webkit-scrollbar-thumb{background-color:#a9acb0;border:0;border-radius:20px}.preloader{align-items:center;background:#1091ff;display:flex;height:100%;justify-content:center;position:fixed;text-align:center;width:100%;z-index:999}.preloader>div{align-items:center;box-sizing:border-box;display:flex;flex:0 0 25%;height:300px;justify-content:center;margin:0;overflow:hidden;position:relative;width:300px}.nb-spinner{background:0 0;border-right:4px solid transparent;border-top:4px solid #fff;margin:0}.nb-spinner{animation:spin 1s linear infinite;border-radius:50%;height:75px;width:75px}@keyframes spin{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.header-centerbar{background:#fff;padding:10px 0}.header-menubar{background:#fff}.header-area{box-shadow:0 10px 40px rgba(23,34,43,.05);position:relative}.gallery_item{align-items:center;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;margin-bottom:30px;position:relative}.gallery_item:before{border-bottom:1px dashed #dadcdd;bottom:-15px;content:"";left:0;position:absolute;width:100%}.gallery_item .gallery_item_content{position:relative}.gallery_item .gallery_item_content .title{font-size:16px;font-weight:500;line-height:24px;margin-bottom:0}.gallery_item .gallery_item_content .title a{color:#17222b}.gallery_item.gallery_item-style-2{margin-top:5px}.gallery_item.gallery_item-style-2 .gallery_item_content{padding-right:20px}.trending-news-area{padding-top:40px}.trending-news-area .section-title{margin-bottom:24px}.trending-news-item .trending-news-thumb{border-radius:8px;margin-bottom:16px;overflow:hidden;position:relative}.trending-news-item .trending-news-thumb img{width:100%}.trending-news-item .trending-news-content .title{font-size:20px;font-weight:700;margin-bottom:6px}@media only screen and (min-width:992px) and (max-width:1200px){.trending-news-item .trending-news-content .title{font-size:18px}}.trending-news-item .trending-news-content .title a{color:#17222b}body{background-color:#d3d3d3}.title{text-transform:none}.social-links{text-align:center}.social-links a>img{margin-bottom:7px;margin-right:10px;width:54px}#tli-userbar-load-target{color:#000;font-size:16px;font-weight:bolder;top:0;z-index:998}.tli-mosaic-post-meta{margin-bottom:10px}.tli-mosaic-post-meta .tli-meta-category{color:#1091ff;font-size:12px;font-weight:500}.tli-mosaic-post-meta .tli-meta-slash{font-weight:500}.tli-mosaic-post-meta .tli-meta-authors,.tli-mosaic-post-meta .tli-meta-comments-num,.tli-mosaic-post-meta .tli-meta-date{color:#515a60;font-size:12px;font-weight:400}.tli-mosaic-post-meta .tli-meta-authors a{color:#1091ff}.gallery_item.gallery_item-style-2{margin-top:0!important}.trending-right-sidebar .tli-mosaic-post-meta{margin-bottom:0}.tli-uniform-slider-image{height:250px!important;object-fit:cover!important}.tli-mosaic-post-meta{margin-bottom:10px}.tli-mosaic-post-meta .tli-meta-category{color:#1091ff;font-size:12px;font-weight:500}.tli-mosaic-post-meta .tli-meta-slash{font-weight:500}.tli-mosaic-post-meta .tli-meta-authors,.tli-mosaic-post-meta .tli-meta-comments-num,.tli-mosaic-post-meta .tli-meta-date{color:#515a60;font-size:12px;font-weight:400}.tli-mosaic-post-meta .tli-meta-authors a{color:#1091ff}.gallery_item.gallery_item-style-2{margin-top:0!important}.trending-right-sidebar .tli-mosaic-post-meta{margin-bottom:0}.tli-uniform-slider-image{height:250px!important;object-fit:cover!important}
        </style>#}

        <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            as="style" onload="this.onload=null;this.rel='stylesheet'">

        <link rel="preload" href="{{ asset('build/app.css') }}"
            as="style" onload="this.onload=null;this.rel='stylesheet'">

    {% endblock %}

    {% block preloaderStyle %}{% include 'parts/preloader.html.twig' %}{% endblock %}

</head>

<body class="home-1-bg">

    {% block preloaderHtml %}<div class="preloader"><div><div class="nb-spinner"></div></div></div>{% endblock %}

    <div id="tli-userbar-load-target" data-loading-url="{{ path('app_cache-hole-punching_userbar') }}">
        <div class="container" style="padding: 10px">
            <div class="col-12">
                <i class="fa-solid fa-spinner fa-spin-pulse" style="color: #000000;"></i>
                Sei già dei nostri? Login in corso...
            </div>
        </div>
    </div>

    <header class="header-area">

        <div class="header-centerbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="logo">
                            <a href="{{ path('app_home') }}">
                                <img src="{{ asset('images/logo/turbolab.it.png') }}"
                                     width="416" height="71" alt="Il logo di TurboLab.it">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-menubar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="header-menu">
                            <div class="stellarnav">
                                <ul>
                                    <li>
                                        <a class="{{ activeMenu == 'home' ? 'active' : '' }}" href="{{ path('app_home') }}">
                                            <i class="fa-solid fa-house"></i> Home
                                        </a>
                                    </li>
                                    <li class="has-sub">
                                        <a href="{{ path('app_home') }}forum">
                                            <i class="fa-solid fa-users"></i> Forum <i class="fa-solid fa-angle-down"></i>
                                        </a>
                                        <ul>
                                            <li><a href="{{ path('app_home') }}forum/search.php?search_id=egosearch">I tuoi messaggi</a></li>
                                            <li><a href="{{ path('app_home') }}forum/search.php?search_id=unreadposts">Messaggi non letti</a></li>
                                            <li><a href="{{ path('app_home') }}forum/ucp.php?i=pm&amp;folder=inbox">Messaggi privati</a></li>
                                        </ul>
                                    </li>

                                    {% for Link in FrontendHelper.NavTopCategories %}
                                        <li>
                                            <a class="{{ activeMenu == Link.activeMenu ? 'active' : '' }}" href="{{ Link.url }}">
                                                {% for fa in Link.fa %}
                                                    <i class="{{ fa }}"></i>
                                                {% endfor %} &nbsp;{{ Link.name }}
                                            </a>
                                        </li>
                                    {% endfor %}

                                    <li class="has-sub">
                                        <a class="{{ activeMenu == 'guide' ? 'active' : '' }} disabled-link" href="#">
                                            <i class="fa-solid fa-book"></i> Guide <i class="fa-solid fa-angle-down"></i>
                                        </a>
                                        <ul>
                                            {% for Link in FrontendHelper.NavOtherCategories %}
                                                <li>
                                                    <a href="{{ Link.url }}">
                                                        <i class="{{ Link.fa|first }}"></i> &nbsp;{{ Link.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>

                                    <li class="has-sub">
                                        <a class="{{ activeMenu == 'cerca' ? 'active' : '' }} disabled-link" href="#">
                                            <i class="fa-solid fa-magnifying-glass" style="color: #e66100;"></i>
                                            Cerca <i class="fa-solid fa-angle-down"></i>
                                        </a>
                                        <ul id="tli-nav-search">
                                            <li>
                                                <form action="{{ path('app_search') }}" class="submit-to-path" method="GET">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control submit-to-path" name="query" required
                                                               placeholder="windows su usb" value="{{ (termToSearch ?? null)|raw }}"
                                                               maxlength="255" style="margin-bottom: 7px;">
                                                        <button type="submit" class="btn btn-primary">
                                                            <i class="fa-solid fa-magnifying-glass"></i> Cerca su TurboLab.it
                                                        </button>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#contact" class="prevent-change-url">
                                            <i class="fa-solid fa-envelope" style="color: #e01b24;"></i> Contatti
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    {% block bodyMainContent %}{% endblock %}

    {% include '@TurboLabItPaginator/pagination-bootstrap.html.twig' %}

    {% include 'user/login-modal.html.twig' %}

    <footer class="footer-area">
        <div class="container">
            <div class="footer-topbar">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-5">
                        <div class="footer-logo">
                            <a href="{{ path('app_file', {fileId: 18}) }}" target="_blank">
                                <img src="{{ asset('images/logo/turbolab.it.png') }}"
                                    width="416" height="71" alt="Il logo di TurboLab.it">
                            </a>
                            <ul>
                                {% for Link in FrontendHelper.FollowUsLinks %}
                                    <li>
                                        <a href="{{ Link.url }}" {% if Link.blank %}target="_blank"{% endif %} title="{{ Link.name }}">
                                            {% for fa in Link.fa %}
                                                <i class="{{ fa }} fa-xl"></i>
                                            {% endfor %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-description">
                TurboLab.it è un sito indipendente e no-profit, totalmente gestito da appassionati di informatica (come te!).
                Sin dal 2013, pubblichiamo gratuitamente <strong>guide per PC e smartphone con sistemi operativi Windows, Linux e Android</strong>.
                Abbiamo oltre 20 anni di esperienza professionale nel <strong>supporto tecnico (helpdesk) e nella gestione di
                    server web</strong> e tecnologie annesse, che condividiamo tramite guide passo per passo.
                Trattiamo anche <strong>Bitcoin, Ethereum e altre criptovalute basate su blockchain</strong>, focalizzandoci
                principalmente sugli aspetti tecnologici e le applicazioni pratiche.
                <strong>Il nostro forum è il punto di incontro italiano per gli appassionati di computer e informatica</strong>, e consente
                di confrontarsi con altri esperti, appassionati e professionisti IT, nonché di richiedere un aiuto con i
                propri problemi tecnologici. Per partecipare è sufficiente una registrazione gratuita.
            </div>
            <div class="footer-widget-area">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="footer-widget-right-border">
                            <div class="row">
                                <div class="col-lg-8 col-md-8">
                                    <div class="widget widget-list">
                                        <div class="section-title section-title-2">
                                            <h3 class="title">Altre pagine</h3>
                                        </div>
                                        <div class="list d-flex justify-content-between">
                                            <ul>
                                                <li>
                                                    <a href="{{ path('app_article_shorturl', {id: constant('App\\Service\\Cms\\Article::ID_DONATIONS')}) }}">
                                                        <i class="fa-solid fa-heart-circle-plus fa-beat" style="color: #ed333b;"></i> Donazioni
                                                    </a>
                                                </li>


                                                <li>
                                                    <a href="{{ FrontendHelper.registerUrl }}">
                                                        <i class="fa-solid fa-users"></i> Registrazione (gratuita)
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('app_newsletter_preview') }}">
                                                        <i class="fa-solid fa-envelope-open-text"></i> Anteprima newsletter
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('app_calendar') }}">
                                                        <i class="fa-solid fa-calendar-days"></i> Calendario pubblicazioni
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('app_info') }}">
                                                        <i class="fa-solid fa-server"></i> Info tecniche server
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{{ path('app_stats') }}">
                                                        <i class="fa-solid fa-chart-simple"></i> Statistiche
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="https://github.com/TurboLabIt/TurboLab.it" target="_blank">
                                                        <i class="fa-brands fa-github"></i> Codice sorgente (GitHub)
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="https://v1.turbolab.it">
                                                        <i class="fa-solid fa-folder-closed"></i> TLI 1.0 (vecchio sito)
                                                    </a>
                                                </li>
                                            </ul>

                                            <ul>
                                                {% for View in FrontendHelper.Views.All %}
                                                    <li>
                                                        <a href="{{ View.url }}">{{ View.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="widget widget-list widget-list-2" id="contact">
                                        <div class="section-title section-title-2">
                                            <h3 class="title">Contact</h3>
                                        </div>
                                        <div class="glowing-image-container">
                                            <img src="{{ asset('build/images/clock.png') }}" class="glowing-image"
                                                 alt="Contatto" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-twitter-post">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5">
                                        <div class="widget widget-list">
                                            <div class="section-title section-title-2">
                                                <h3 class="title">Privacy</h3>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li><a href="{{ path('app_article_shorturl', {id: constant('App\\Service\\Cms\\Article::ID_PRIVACY_POLICY')}) }}">Informativa privacy</a></li>
                                                    <li><a href="{{ path('app_article_shorturl', {id: constant('App\\Service\\Cms\\Article::ID_COOKIE_POLICY')}) }}">Informativa cookie</a></li>
                                                    <li><a href="#" onclick="if(window.__lxG__consent__!==undefined&&window.__lxG__consent__.getState()!==null){window.__lxG__consent__.showConsent()} else {alert('This function only for users from European Economic Area (EEA)')}; return false">Change privacy settings</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                        <div class="widget widget-list partner-container">
                                            <div class="section-title section-title-2">
                                                <h3 class="title">Partner</h3>
                                            </div>
                                            <div class="list d-flex justify-content-between">
                                                <ul>
                                                    <li><a href="https://amzn.to/3XI6I24" target="_blank">Amazon.it</a></li>
                                                    <li><a href="https://www.telegramitalia.it" target="_blank">Telegram Italia</a></li>
                                                </ul>
                                                <ul>
                                                    <li><a href="https://petstar.us" target="_blank">PetStar</a></li>
                                                    <li><a href="https://pasticciotti.it" target="_blank">Pasticciotti</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-rightbar mt-60">
                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <div class="widget widget-news">
                                        <div class="section-title section-title-2">
                                            <h3 class="title">Vuoi partecipare a TurboLab.it?</h3>
                                        </div>
                                        <div class="footer-news">
                                            {% for Article in FrontendHelper.guidesForAuthors %}
                                                <div class="gallery_item gallery_item-style-2 footer_gallery_item">
                                                    <div class="gallery_item_content">
                                                        <h4 class="title">
                                                            <a href="{{ Article.url }}">{{ Article.title|raw }}</a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-item d-block d-md-flex justify-content-between align-items-center">
                        <p>
                            <a property="dct:title" rel="cc:attributionURL"
                                href="{{ metaCanonicalUrl ?? app.request.uri }}">{% block licenseWorkName %}TurboLab.it{% endblock %}</a>
                            {% block licenseWorkAuthor %}{% endblock %}
                            is licensed under
                            <a href="https://creativecommons.org/licenses/by-nd/4.0/?ref=chooser-v1" target="_blank"
                               rel="license noopener noreferrer" class="tli-cc-copyright">CC BY-ND 4.0</a>
                            <a href="https://creativecommons.org/licenses/by-nd/4.0/?ref=chooser-v1" target="_blank"
                               rel="license noopener noreferrer" class="tli-cc-copyright-icon">
                                <img width="22" height="22" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="cc">
                                <img width="22" height="22" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="by">
                                <img width="22" height="22" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1" alt="nd">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts_base %}

        <script src="https://code.jquery.com/jquery-4.0.0-rc.1.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-4.0.0-beta.1.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
    {% endblock %}

    {% block javascripts %}

        <script src="/assets/js/stellarnav.min.js"></script>
        <script src="/assets/js/main.js"></script>

        <script src="https://kit.fontawesome.com/efe2621351.js" crossorigin="anonymous"></script>

        {{ encore_entry_script_tags('app') }}

        <script src='https://platform-api.sharethis.com/js/sharethis.js#property=59e0553a0ec52b001145b377&product=unknown'
                async='async'></script>

    {% endblock %}

</body>

</html>
