{% extends 'archive/index.html.twig' %}

{% block metaDescription %}Articoli, guide, notizie che riguardano {{ Tag.navTitle|raw }}{% endblock %}

{% block breadcrumb %}

    {% if currentPage < 2 %}

        <li class="breadcrumb-item active">Tag &quot;{{ Tag.navTitle|raw }}&quot;</li>

    {% else %}

        <li class="breadcrumb-item"><a href="{{ Tag.url }}">Tag &quot;{{ Tag.navTitle|raw }}&quot;</a></li>
        {{ parent() }}

    {% endif %}

{% endblock %}
