{% extends 'archive/index.html.twig' %}

{% block metaDescription %}Articoli, guide, notizie che riguardano {{ Tag.navTitle|raw }}{% endblock %}

{% block breadcrumb %}

    {% if currentPage < 2 %}

        <li class="breadcrumb-item active">Tag "{{ Tag.navTitle|raw }}"</li>

    {% else %}

        <li class="breadcrumb-item"><a href="{{ Tag.url }}">Tag "{{ Tag.navTitle|raw }}"</a></li>
        {{ parent() }}

    {% endif %}

{% endblock %}
