<div id="tli-downloadable-files" class="container">

    {% if Article.isReadable and Article.Files is not empty %}

        {% for File in Article.Files %}

            <div class="d-flex align-items-start mb-20 tli-file-download">

                <span class="d-flex align-items-center"
                    {% if Article.isEditable %}
                        data-detach-from-article-url="{{ path('app_file_edit-detach_from_article', {'fileId': File.id, 'articleId': Article.id}) }}"
                    {% endif %}
                    >

                    <a href="{{ File.url }}" target="_blank">
                        <i class="fa-solid fa-download fa-2xl" style="color: #A3BF60;"></i>
                    </a>

                    <span class="ml-10">
                        <a href="{{ File.url }}" target="_blank"
                           class="tli-download-text-link"><span>{{ File.title }}</span></a>

                        {% for OS in File.Compatibilities %}
                            <i class="fa-brands fa-{{ OS.slug }}" title="Compatibile con {{ OS.name }}"
                               {% if OS.color is not empty %}style="color: {{ OS.color }};"{% endif %}></i>
                        {% endfor %}

                        <br>

                        <span class="tli-author-articles-counter">

                            {% if File.format is not empty %}Formato: <code>{{ File.format }}</code>{% endif %}
                            {% if File.format is not empty and File.sizeLabel is not empty %} | {% endif %}
                            {% if File.sizeLabel is not empty %}{{ File.sizeLabel }}{% endif %}
                            {% if File.format is not empty or File.sizeLabel is not empty %}<br>{% endif %}

                            <i class="fa-solid fa-flask-vial"></i>
                            Scaricato {{ File.views }} {% if File.views == 1 %}volta{% else %}volte{% endif %}

                            {% if File.isBitTorrent %}

                                <i class="fa-solid fa-circle-nodes" style="color: darkgreen"></i>
                                <a href="{{ BitTorrentGuide.url }}">Necessario BitTorrent</a>

                            {% elseif File.isEmule %}

                                <i class="fa-brands fa-sticker-mule" style="color: saddlebrown"></i>
                                <a href="{{ EmuleGuide.url }}">Necessario eMule</a>

                            {% elseif File.isExternal %}

                                <i class="fa-solid fa-person-walking-dashed-line-arrow-right" style="color: #FFD43B;"></i>
                                File fornito da un sito esterno

                            {% endif %}

                        </span>

                    </span>

                    {% if File.isEditable %}
                        <i class="fa-solid fa-file-pen fa-xl tli-open-edit-file" style="color: #74C0FC;"
                            data-tli-modal-url="{{ path('app_file_edit-get_modal', {'fileId': File.id, 'articleId': Article.id}) }}"></i>
                    {% endif %}

                    {% if Article.isEditable %}
                        <i class="fa-solid fa-trash-can fa-xl tli-delete-file" style="color: #b0b0b0;"></i>
                    {% endif %}

                </span>

            </div>

        {% endfor %}

    {% endif %}

</div>
