<div class="modal fade" id="tli-image-lightbox" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-black">

            <button type="button" class="tli-lightbox-close position-absolute top-0 end-0 m-3"
                    data-bs-dismiss="modal" aria-label="Chiudi">
                <i class="fa-solid fa-xmark"></i>
            </button>

            <div class="modal-body d-flex flex-column p-0">

                {# --- Carousel --- #}
                <div id="tli-image-lightbox-carousel" class="carousel slide flex-grow-1 d-flex align-items-center">
                    <div class="carousel-inner h-100">
                        {% for Image in Article.ImagesInUse %}
                            <div class="carousel-item h-100{% if loop.first %} active{% endif %}" data-image-id="{{ Image.id }}">
                                <img data-src="{{ Image.getUrl('max') }}" alt="{{ Image.title }}"
                                     class="d-block mx-auto tli-lightbox-img">
                            </div>
                        {% endfor %}
                    </div>

                    {% if Article.ImagesInUse|length > 1 %}
                        <button class="carousel-control-prev" type="button"
                                data-bs-target="#tli-image-lightbox-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                data-bs-target="#tli-image-lightbox-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    {% endif %}
                </div>

                {# --- Thumbnails --- #}
                {% if Article.ImagesInUse|length > 1 %}
                    <div class="tli-lightbox-thumbs d-flex justify-content-center gap-2 p-2">
                        {% for Image in Article.ImagesInUse %}
                            <img data-src="{{ Image.getUrl('min') }}" alt="{{ Image.title }}"
                                 class="tli-lightbox-thumb{% if loop.first %} active{% endif %}"
                                 data-image-id="{{ Image.id }}"
                                 data-bs-target="#tli-image-lightbox-carousel" data-bs-slide-to="{{ loop.index0 }}">
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
