{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="preload" href="{{ asset('build/article.css') }}"
        as="style" onload="this.onload=null;this.rel='stylesheet'">

{% endblock %}


{% block bodyMainContent %}
    <!-- ARTICLE bodyMainContent START -->
    <section class="post-layout-1-area post-layout-3-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-author-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                                {% if Article.isNews %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ path('app_news') }}">
                                            <i class="fa-solid fa-newspaper"></i>&nbsp;News
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="breadcrumb-item">
                                    <a href="{{ Article.topTagOrDefault.url }}">
                                        <i class="{{ Article.topTagOrDefault.fontAwesomeIcon|first }}"></i>&nbsp;
                                        {{ Article.topTagOrDefault.titleFormatted }}
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <!-- ARTICLE main content START -->
                <article class="col-lg-8">

                    <div class="post-layout-top-content post-layout-top-content-3 tli-article-main-content">

                        <div class="post-content">
                            <h1 class="title">{{ Article.titleWithFreshUpdatedAt|raw }}</h1>
                            <div class="post-categories d-flex justify-content-between align-content-center">
                                <div class="categories-share">
                                    <ul>
                                        {% if Article.commentsTopic is not empty %}
                                            <li>
                                                <a href="{{ Article.commentsUrl }}">
                                                    <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                    {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if Article.views(false) > 1 %}
                                            <li><i class="fa-brands fa-readme"></i> {{ Article.views }} visualizzazioni</li>
                                        {% endif %}
                                        <li>
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            Aggiornato: {{ Article.updatedAt|friendlyDate }}
                                        </li>
                                        <li>{% include('article/publishing-status.html.twig') %}</li>
                                        {% if Article.AuthorsNotSystem is not empty %}
                                            <li>
                                                <i class="fa-solid fa-user-tie"></i> a cura di
                                                {% for Author in Article.AuthorsNotSystem %}
                                                    <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        {% if Article.isPublished %}
                            <div class="sharethis-inline-share-buttons mt-30"></div>
                        {% endif %}

                        {% if Article.Files is not empty %}

                            <div class="container mt-20">
                                {% for File in Article.Files %}
                                    <div class="d-flex align-items-start mt-20 tli-file-download">
                                        <span class="d-flex align-items-center">

                                            <a href="{{ File.url }}" target="_blank">
                                                <i class="fa-solid fa-download fa-2xl" style="color: #A3BF60;"></i>
                                            </a>

                                            <span class="ml-10">
                                                <a href="{{ File.url }}" target="_blank" class="tli-download-text-link">
                                                    <span>{{ File.title }}</span>
                                                </a>
                                                {% for OS in File.Compatibilities %}
                                                    <i class="fa-brands fa-{{ OS.slug }}"
                                                        title="Compatibile con {{ OS.name }}"
                                                        {% if OS.color is not empty %}style="color: {{ OS.color }};"{% endif %}></i>
                                                {% endfor %}
                                                <br>
                                                <span class="tli-author-articles-counter">
                                                    <i class="fa-solid fa-flask-vial"></i>
                                                    Scaricato {{ File.views }} {% if File.views == 1 %}volta{% else %}volte{% endif %}
                                                    {% if File.isBitTorrent %}
                                                        <i class="fa-solid fa-circle-nodes"></i>
                                                        <a href="{{ BitTorrentGuide.url }}">Necessario BitTorrent</a>
                                                    {% elseif File.isExternal %}
                                                        <i class="fa-solid fa-person-walking-dashed-line-arrow-right" style="color: #FFD43B;"></i>
                                                        File fornito da un sito esterno
                                                    {% endif %}
                                                </span>
                                            </span>

                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if isVisible %}

                            <div class="post-text mt-30 tli-article-body">{{ Article.bodyForDisplay|raw }}</div>

                            {% if Article.isPublished %}
                                <h4>
                                    <i class="fa-solid fa-heart fa-beat" style="color: #e01b24;"></i>&nbsp;
                                    Se ti è piaciuto questo articolo, condividilo sui social! Grazie!
                                </h4>
                                <div class="sharethis-inline-share-buttons"></div>
                            {% endif %}

                            <div class="post-tags mt-30">
                                <ul>
                                    <li><a class="disabled-link" href="#"><i class="fas fa-tag"></i> Tags</a></li>
                                    {% if Article.tags|length > 0 %}
                                        <li>
                                            {% for Tag in Article.Tags %}
                                                <a href="{{ Tag.url }}">
                                                    <i class="{{ Tag.fontAwesomeIcon|first }}"></i> {{ Tag.titleFormatted|raw }}
                                                </a>
                                            {% endfor %}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                        {% else %}

                            <div class="post-text mt-30 tli-article-body">
                                <p>
                                    Questo articolo non è ancora stato marcato dall'autore come "finito".
                                    Fino a quando questo non avverrà, il pezzo rimane visibile solo agli autori e
                                    agli utenti con <a href="https://turbolab.it/40">autorevolezza elevata</a>.
                                </p>
                            </div>

                        {% endif %}

                    </div>

                    {% if Article.AuthorsNotSystem is not empty %}
                        <div class="tli-article-box mt-30 container">
                            <h4>Gli autori</h4>
                            {% for Author in Article.AuthorsNotSystem %}
                                <div class="row mt-10">
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <a href="{{ Author.url }}">
                                            {% if Author.avatarUrl is not empty %}
                                                    <img src="{{ Author.avatarUrl }}" width="128" alt="Avatar di {{ Author.username }}">
                                            {% else %}
                                                <i class="fa-solid fa-user-tie fa-2xl" style="color: #deddda; font-size: 100px;"></i>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-md-10">
                                        <p class="tli-author-bio-name">
                                            <a href="{{ Author.url }}">{{ Author.fullName }}</a><br>
                                            <span class="tli-author-articles-counter">
                                                <a href="{{ Author.url }}">
                                                    <i class="fa-solid fa-flask-vial"></i> {{ Author.articlesNum }}
                                                    {% if Author.articlesNum == 1 %}articolo pubblicato{% else %}articoli pubblicati{% endif %}
                                                </a>
                                            </span>
                                        </p>
                                        <p>
                                            <a href="{{ Author.url }}">
                                                {% if Author.bio is not empty %}
                                                    {{ Author.bio }}
                                                {% else %}
                                                    <em>Questo autore non ha ancora compilato la propria presentazione.</em>
                                                {% endif %}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="post-reader-text post-reader-text-2 post-reader-text-3 pt-50">
                        <div class="row">
                            <div class="col-md-6">
                                {% if Article.previousArticle is not empty %}
                                    <div class="post-reader-prev">
                                        <a href="{{ Article.previousArticle.url }}">
                                            <span><i class="fa fa-angle-left"></i> PRECEDENTE</span>
                                        </a>
                                        <h4 class="title">
                                            <a href="{{ Article.previousArticle.url }}">
                                                {{ Article.previousArticle.title|raw }}
                                            </a>
                                        </h4>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                {% if Article.nextArticle is not empty %}
                                    <div class="post-reader-prev">
                                        <div style="text-align: right;">
                                            <a href="{{ Article.nextArticle.url }}">
                                                <span>SUCCESSIVO <i class="fa fa-angle-right"></i></span>
                                            </a>
                                        </div>
                                        <h4 class="title">
                                            <a href="{{ Article.nextArticle.url }}">
                                                {{ Article.nextArticle.title|raw }}
                                            </a>
                                        </h4>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </article>
                <!-- ARTICLE main END -->

                {% include 'parts/column-articles.html.twig' %}

            </div>
        </div>
    </section>
    <!-- ARTICLE bodyMainContent END -->

    <!-- ARTICLE comments START -->
    {% if Article.commentsTopic is not empty %}
        <section class="post-comments-area pt-20 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 tli-article-box">
                        <div class="section-title">
                            <h3 class="title">
                                <i class="fa-solid fa-comments fa-lg"></i> Commenti
                                <span>
                                    <a href="{{ Article.commentsUrl }}">
                                        <i class="fa-solid fa-users"></i> Guarda la discussione sul forum
                                    </a>
                                </span>
                            </h3>
                        </div>
                        {% if Article.commentsNum(false) > 0 %}
                            <div class="post-comments-list" data-comments-loading-url="{{ commentsLoadingUrl }}"></div>
                            <div>
                                <span>
                                    <a href="{{ Article.commentsUrl }}">
                                        <i class="fa-solid fa-users"></i> Guarda la discussione sul forum
                                    </a>
                                </span>
                            </div>
                            <div class="post-load-btn">
                                <a class="main-btn" href="{{ Article.addNewCommentUrl }}">Aggiungi il tuo commento</a>
                            </div>
                        {% else %}
                            <div class="tli-article-main-content">
                                <p>Nessun commento. <a href="{{ Article.addNewCommentUrl }}">Scrivi tu il primo!</a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!-- ARTICLE comments END -->

{% endblock %}

{% block licenseWorkName %}{{ Article.titleFormatted|raw }}<br>{% endblock %}

{% block licenseWorkAuthor %}

    {% if Article.AuthorsNotSystem is not empty %}
        by <span property="cc:attributionName">
            {% for Author in Article.AuthorsNotSystem %}
                <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
    {% endif %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('article') }}

{% endblock %}
