{% extends 'base.html.twig' %}

{% block bodyMainContent %}
    <article>

        <h1>{{ metaTitle|raw }}</h1>

        <div>
            {% if Article.Authors is not empty %}
                <span>
                    a cura di
                    {% for Author in Article.Authors %}
                        <a href="">{{ Author.User.username }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                     |
                </span>
            {% endif %}

            <span>ultimo aggiornamento: {{ Article.updatedAt|friendlyDate }} | </span>

            {% if Article.Tags is not empty %}
                <span>
                    {% for Tag in Article.Tags %}
                        <a href="{{ Tag.url }}">{{ Tag.title|raw }}</a>
                        {% if not loop.last %} • {% endif %}
                    {% endfor %}
                     |
                </span>
            {% endif %}

            {% if Article.views > 1 %}
                <span>visualizzato {{ Article.views|friendlyNum }} volte</span>
            {% endif %}
        </div>

        {% if Article.files is not empty %}
            <span>
                {% for File in Article.files %}
                    <a href="{{ File.url }}">{{ File.title|raw }}</a>
                    {% if not loop.last %} • {% endif %}
                {% endfor %}
                |
            </span>
        {% endif %}

        <div>{{ Article.bodyForDisplay|raw }}</div>

    </article>
{% endblock %}
