{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="preload" href="{{ asset('build/article.css') }}"
        as="style" onload="this.onload=null;this.rel='stylesheet'">

{% endblock %}


{% block bodyMainContent %}
    <!-- ARTICLE bodyMainContent START -->
    <section class="post-layout-1-area post-layout-3-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-author-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
                                {% if Article.isNews %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ path('app_news') }}">
                                            <i class="fa-solid fa-newspaper"></i>&nbsp;News
                                        </a>
                                    </li>
                                {% endif %}
                                {% if Article.isListable %}
                                    <li class="breadcrumb-item">
                                        <a href="{{ Article.topTagOrDefault.url }}">
                                            <i class="{{ Article.topTagOrDefault.fontAwesomeIcon|first }}"></i>&nbsp;
                                            {{ Article.topTagOrDefault.navTitle }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ol>
                        </nav>
                    </div>
                </div>

                <!-- ARTICLE main content START -->
                <article class="col-lg-8" data-save-url="{{ Article.updateUrl }}">

                    <div class="post-layout-top-content post-layout-top-content-3 tli-article-main-content">

                        <div class="post-content">

                            {% if Article.currentUserCanEdit %}

                                {% embed 'parts/alert-chalkboard.html.twig' %}

                                    {% block alertTitle %}
                                        Tu, {{ CurrentUser.username }}, puoi modificare questo articolo!
                                    {% endblock %}

                                    {% block alertBodyStyle %}{% endblock %}
                                    {% block alertBody %}
                                        <div>Ti basta cliccare sul testo (titolo, corpo, ...) e scrivere, come se fosse un documento di Word.</div>
                                        <div>Prima di cominciare a scrivere, ri-leggi sempre la guida &quot;<a href="{{ ArticleHowTo.url|raw }}">{{ ArticleHowTo.title|raw }}</a>&quot;.</div>
                                    {% endblock %}

                                {% endembed %}

                                <h1 class="title" contenteditable="true" data-tli-editable-id="title">{{ Article.title|raw }}</h1>

                            {% else %}

                                <h1 class="title">{{ Article.titleWithFreshUpdatedAt|raw }}</h1>

                            {% endif %}

                            <div class="post-categories d-flex justify-content-between align-content-center">

                                <div class="categories-share">
                                    <ul>
                                        {% if Article.commentsTopic is not empty %}
                                            <li>
                                                <a href="{{ Article.commentsUrl }}">
                                                    <i class="fa-solid fa-comment"></i> {{ Article.commentsNum }}
                                                    {% if Article.commentsNum == 1 %}commento{% else %}commenti{% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if Article.views(false) > 1 %}
                                            <li><i class="fa-brands fa-readme"></i> {{ Article.views }} visualizzazioni</li>
                                        {% endif %}
                                        <li>
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            Aggiornato: {{ Article.updatedAt|friendlyDate }}
                                        </li>
                                        <li>{% include('article/publishing-status.html.twig') %}</li>
                                        {% if Article.AuthorsNotSystem is not empty %}
                                            <li>
                                                <i class="fa-solid fa-user-tie"></i> a cura di
                                                {% for Author in Article.AuthorsNotSystem %}
                                                    <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>

                            </div>

                        </div>

                        {% if Article.isPublished %}
                            <div class="sharethis-inline-share-buttons mt-30"></div>
                        {% endif %}

                        {% if Article.isReadable and Article.Files is not empty %}

                            <div class="container mt-20">
                                {% for File in Article.Files %}
                                    <div class="d-flex align-items-start mt-20 tli-file-download">
                                        <span class="d-flex align-items-center">

                                            <a href="{{ File.url }}" target="_blank">
                                                <i class="fa-solid fa-download fa-2xl" style="color: #A3BF60;"></i>
                                            </a>

                                            <span class="ml-10">
                                                <a href="{{ File.url }}" target="_blank" class="tli-download-text-link">
                                                    <span>{{ File.title }}</span>
                                                </a>
                                                {% for OS in File.Compatibilities %}
                                                    <i class="fa-brands fa-{{ OS.slug }}"
                                                        title="Compatibile con {{ OS.name }}"
                                                        {% if OS.color is not empty %}style="color: {{ OS.color }};"{% endif %}></i>
                                                {% endfor %}
                                                <br>
                                                <span class="tli-author-articles-counter">
                                                    <i class="fa-solid fa-flask-vial"></i>
                                                    Scaricato {{ File.views }} {% if File.views == 1 %}volta{% else %}volte{% endif %}
                                                    {% if File.isBitTorrent %}
                                                        <i class="fa-solid fa-circle-nodes"></i>
                                                        <a href="{{ BitTorrentGuide.url }}">Necessario BitTorrent</a>
                                                    {% elseif File.isExternal %}
                                                        <i class="fa-solid fa-person-walking-dashed-line-arrow-right" style="color: #FFD43B;"></i>
                                                        File fornito da un sito esterno
                                                    {% endif %}
                                                </span>
                                            </span>

                                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}


                        {% if Article.isDraft %}

                            {% embed 'parts/alert-warning.html.twig' %}
                                {% block alertIcon %}<i class="fa-regular fa-pen-to-square"></i>{% endblock %}
                                {% block alertTitle %}Articolo in lavorazione (bozza){% endblock %}
                                {% block alertBodyStyle %}text-start post-text tli-article-body{% endblock %}
                                {% block alertBody %}
                                    <div>
                                        Questo articolo non è ancora stato marcato dall'autore come &quot;finito&quot;.
                                        È quindi visibile solo ai suoi autori e agli utenti con <a href="/40">autorevolezza elevata</a>.
                                    </div>
                                    {% if Article.isReadable %}
                                        <div>
                                            Tu, {{ CurrentUser.username }}, hai pieno accesso all'articolo.
                                            Ma ricorda che il pubblico, ancora, non può leggere il testo.
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            {% endembed %}

                        {% elseif Article.isKo %}

                            {% embed 'parts/alert-warning.html.twig' %}
                                {% block alertIcon %}<i class="fa-solid fa-toilet-paper"></i>{% endblock %}
                                {% block alertTitle %}Articolo non disponibile{% endblock %}
                                {% block alertBodyStyle %}text-start post-text tli-article-body{% endblock %}
                                {% block alertBody %}
                                    <div>
                                        Questo articolo, nella forma attuale, non rispecchia il livello qualitativo che desideriamo garantire.
                                        È quindi visibile solo ai suoi autori e agli utenti con <a href="/40">autorevolezza elevata</a>.
                                    </div>
                                    {% if Article.isReadable %}
                                        <div>
                                            Tu, {{ CurrentUser.username }}, hai pieno accesso all'articolo.
                                            Ma ricorda che il pubblico non può leggere il testo.
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            {% endembed %}

                        {% endif %}


                        {% if Article.isReadable %}

                            <div class="post-text mt-30 tli-article-body"
                                 {% if Article.currentUserCanEdit %}
                                    contenteditable="true" data-tli-editable-id="body"
                                {% endif %}>
                                {{ Article.bodyForDisplay|raw }}
                            </div>


                            {% if Article.isInReview or Article.isPublished %}

                                <h4>
                                    <i class="fa-solid fa-heart fa-beat" style="color: #e01b24;"></i>&nbsp;
                                    Se ti è piaciuto questo articolo, condividilo sui social! Grazie!
                                </h4>

                                <div class="sharethis-inline-share-buttons"></div>

                            {% endif %}

                            <div class="post-tags mt-30">
                                <ul>
                                    <li><a class="disabled-link" href="#"><i class="fas fa-tag"></i> Tags</a></li>
                                    {% if Article.tags|length > 0 %}
                                        <li>
                                            {% for Tag in Article.Tags %}
                                                <a href="{{ Tag.url }}">
                                                    <i class="{{ Tag.fontAwesomeIcon|first }}"></i> {{ Tag.navTitle|raw }}
                                                </a>
                                            {% endfor %}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                        {% endif %}

                        {% if Article.currentUserCanEdit %}

                            <div id="tli-article-saving-status-bar" class="sticky-bottom mt-3 mb-0 collapse">
                                <div class="alert text-center" role="alert">
                                    <a href="#" class="text-decoration-none text-dark tli-warning-unsaved">
                                        <i class="fa-solid fa-floppy-disk fa-beat" style="color: #ff7300;"></i>
                                        Hai modificato l'articolo, ma non hai salvato. Clicca qui (oppure: CTRL+S) per salvare ora.
                                    </a>
                                    <i class="tli-loaderino fa-solid fa-spinner fa-spin-pulse fa-2xl collapse" style="color: red"></i>
                                    <div class="tli-response-target"></div>
                                    <div class="mt-3 collapse tli-action-try-again">
                                        <a href="#" class="text-dark">
                                            <i class="fa-solid fa-repeat fa-beat" style="color: #ff7300;"></i>
                                            Prova di nuovo
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                    </div>

                    {% if Article.AuthorsNotSystem is not empty and not Article.isKo %}
                        <div class="tli-article-box mt-30 container">
                            <h4>Gli autori</h4>
                            {% for Author in Article.AuthorsNotSystem %}
                                <div class="row mt-10">
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <a href="{{ Author.url }}">
                                            {% if Author.avatarUrl is not empty %}
                                                    <img src="{{ Author.avatarUrl }}" width="128" alt="Avatar di {{ Author.username }}">
                                            {% else %}
                                                <i class="fa-solid fa-user-tie fa-2xl" style="color: #deddda; font-size: 100px;"></i>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-md-10">
                                        <p class="tli-author-bio-name">
                                            <a href="{{ Author.url }}">{{ Author.fullName }}</a><br>
                                            <span class="tli-author-articles-counter">
                                                <a href="{{ Author.url }}">
                                                    <i class="fa-solid fa-flask-vial"></i> {{ Author.articlesNum }}
                                                    {% if Author.articlesNum == 1 %}articolo pubblicato{% else %}articoli pubblicati{% endif %}
                                                </a>
                                            </span>
                                        </p>
                                        <p>
                                            <a href="{{ Author.url }}">
                                                {% if Author.bio is not empty %}
                                                    {{ Author.bio }}
                                                {% else %}
                                                    <em>Questo autore non ha ancora compilato la propria presentazione.</em>
                                                {% endif %}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="post-reader-text post-reader-text-2 post-reader-text-3 pt-50">
                        <div class="row">

                            {% embed 'article/prev-next-article.html.twig' with { 'Article': Article.previousArticle ?? null } %}
                                {% block prevNextArticleIcon %}fa-angle-left{% endblock %}
                                {% block prevNextArticleTitle %}PRECEDENTE{% endblock %}
                            {% endembed %}

                            {% embed 'article/prev-next-article.html.twig' with { 'Article': Article.nextArticle ?? null } %}
                                {% block prevNextArticleIcon %}fa-angle-right{% endblock %}
                                {% block prevNextArticleTitle %}SUCCESSIVO{% endblock %}
                            {% endembed %}

                        </div>
                    </div>
                </article>
                <!-- ARTICLE main END -->

                {% include 'parts/column-articles.html.twig' %}

            </div>
        </div>
    </section>
    <!-- ARTICLE bodyMainContent END -->

    <!-- ARTICLE comments START -->
    {% if Article.commentsTopic is not empty and Article.isListable %}
        <section class="post-comments-area pt-20 pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 tli-article-box">
                        <div class="section-title">
                            <h3 class="title">
                                <i class="fa-solid fa-comments fa-lg"></i> Commenti
                                <span>
                                    <a href="{{ Article.commentsUrl }}">
                                        <i class="fa-solid fa-users"></i> Guarda la discussione sul forum
                                    </a>
                                </span>
                            </h3>
                        </div>
                        {% if Article.commentsNum(false) > 0 %}
                            <div class="post-comments-list" data-comments-loading-url="{{ commentsLoadingUrl }}"></div>
                            <div>
                                <span>
                                    <a href="{{ Article.commentsUrl }}">
                                        <i class="fa-solid fa-users"></i> Guarda la discussione sul forum
                                    </a>
                                </span>
                            </div>
                            <div class="post-load-btn">
                                <a class="main-btn" href="{{ Article.addNewCommentUrl }}">Aggiungi il tuo commento</a>
                            </div>
                        {% else %}
                            <div class="tli-article-main-content">
                                <p>Nessun commento. <a href="{{ Article.addNewCommentUrl }}">Scrivi tu il primo!</a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!-- ARTICLE comments END -->

{% endblock %}

{% block licenseWorkName %}{{ Article.title|raw }}<br>{% endblock %}

{% block licenseWorkAuthor %}

    {% if Article.AuthorsNotSystem is not empty %}
        by <span property="cc:attributionName">
            {% for Author in Article.AuthorsNotSystem %}
                <a href="{{ Author.url }}">{{ Author.username }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
    {% endif %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('article') }}

    {% if Article.currentUserCanEdit %}
        {{ encore_entry_script_tags('article-edit') }}
    {% endif %}

{% endblock %}
