<div class="post-categories d-flex justify-content-between align-content-center">
    <div class="categories-share">

        <ul>
            <li>
                <i class="fa-solid fa-user-tie"></i> a cura di:
                {% for Author in Article.Authors %}
                    <a href="{{ Author.url }}">{{ Author.username|raw }}</a>{% if not loop.last %}, {% endif %}
                {% else %}
                    <em>&lt;sconosciuto&gt;</em>
                {% endfor %}
            </li>

            {% if Article.commentsTopic is not empty %}
                <li>
                    <a href="{{ Article.commentsUrl }}">
                        <i class="fa-solid fa-comment"></i> Commenti:
                        <span class="tli-comments-num-target" data-value="0"> <i class="fa-solid fa-calculator fa-fade"></i></span>
                    </a>
                </li>
            {% endif %}

            <li>
                <i class="fa-brands fa-readme"></i> Letture:
                <span class="tli-views-num-target" data-value="0"> <i class="fa-solid fa-calculator fa-fade"></i></span>
            </li>
            <li>
                <i class="fa-solid fa-pen-to-square"></i>
                Aggiornato: {{ Article.updatedAt|friendlyDate }}
            </li>
            <li>{% include('article/publishing-status.html.twig') %}</li>
        </ul>


        {% if Article.isEditable %}
            <div class="mt-2">
                {% include 'article/editor/button-edit-authors.html.twig' %}
                {% include 'article/editor/button-edit-tags.html.twig' %}
                {% include 'article/editor/button-edit-files.html.twig' %}
            </div>
        {% endif %}

    </div>
</div>


{% include 'article/editor/tags-missing-warning.html.twig' %}


{% if Article.isDraft %}

    {% embed 'parts/alert-warning.html.twig' %}
        {% block alertIcon %}<i class="fa-regular fa-pen-to-square"></i>{% endblock %}
        {% block alertTitle %}Articolo in lavorazione (bozza){% endblock %}
        {% block alertBodyStyle %}text-start post-text tli-article-body{% endblock %}
        {% block alertBody %}
            <div>
                Questo articolo non è ancora stato marcato dall'autore come "finito".
                È quindi visibile solo ai suoi autori e agli utenti con <a href="/40">autorevolezza elevata</a>.
            </div>
        {% endblock %}
    {% endembed %}

    {% if Article.isEditable %}
        {% embed 'parts/alert-chalkboard.html.twig' %}

            {% block alertTitle %}
                Tu, {{ CurrentUser.username|raw }}, hai pieno accesso all'articolo
            {% endblock %}
            {% block alertBodyStyle %}{% endblock %}
            {% block alertBody %}
                Ma ricorda che il pubblico, ancora, non può leggerlo. Per rendere visibile l'articolo a tutti:
                <ol class="mt-2">
                    <li>Assicurati che l'articolo sia VERAMENTE pronto e finito 😉</li>
                    <li><a href="#" class="tli-publishing-status-ready">Clicca qui per rendere l'articolo visibile a tutti</a></li>
                </ol>
            {% endblock %}

        {% endembed %}
    {% endif %}

{% elseif Article.isKo %}

    {% embed 'parts/alert-warning.html.twig' %}
        {% block alertIcon %}<i class="fa-solid fa-toilet-paper"></i>{% endblock %}
        {% block alertTitle %}Articolo non disponibile{% endblock %}
        {% block alertBodyStyle %}text-start post-text tli-article-body{% endblock %}
        {% block alertBody %}
            <div>
                Questo articolo, nella forma attuale, non rispecchia il livello qualitativo che desideriamo garantire.
                È quindi visibile solo ai suoi autori e agli utenti con <a href="/40">autorevolezza elevata</a>.
            </div>
        {% endblock %}
    {% endembed %}

    {% if Article.isEditable %}
        {% embed 'parts/alert-chalkboard.html.twig' %}

            {% block alertTitle %}
                Tu, {{ CurrentUser.username|raw }}, hai pieno accesso all'articolo
            {% endblock %}
            {% block alertBodyStyle %}{% endblock %}
            {% block alertBody %}
                Il pubblico, al contrario non può leggerlo. Se lo desideri,
                puoi <a href="/forum/viewforum.php?f=6">chiedere chiarimenti sul forum</a>.
            {% endblock %}

        {% endembed %}
    {% endif %}

{% endif %}
