{% extends 'archive/index.html.twig' %}

{% block breadcrumb %}

    <li class="breadcrumb-item">
        <i class="fa-solid fa-user"></i> Utenti
    </li>

    {% if currentPage < 2 %}

        <li class="breadcrumb-item active">Pagina di "{{ Author.fullname|raw }}"</li>

    {% else %}

        <li class="breadcrumb-item">
            <a href="{{ Author.url }}">Pagina di "{{ Author.fullname|raw }}"</a>
        </li>
        {{ parent() }}

    {% endif %}

{% endblock %}

{% block beforeArticleList %}

    {% if Author.articlesNum > 0 %}

        <div class="container">

            <div class="tli-article-box">
                <div class="row mt-10">
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        {% if Author.avatarUrl is not empty %}
                                <img src="{{ Author.avatarUrl }}" width="128" alt="Avatar (immagine di profilo) di {{ Author.username|raw }}">
                        {% else %}
                            <i class="fa-solid fa-user-tie fa-2xl" style="color: #deddda; font-size: 100px;"></i>
                        {% endif %}
                    </div>
                    <div class="col-md-10">
                        <p class="tli-author-bio-name">
                            <span>{{ Author.fullName|raw }}</span><br>
                            <span class="tli-author-articles-counter">
                                <i class="fa-solid fa-flask-vial"></i> {{ Author.articlesNum }}
                                {% if Author.articlesNum == 1 %}articolo pubblicato{% else %}articoli pubblicati{% endif %} &nbsp;
                                <a href="{{ Author.forumUrl }}">
                                    <i class="fa-solid fa-id-badge"></i> ID: {{ Author.id }}
                                </a>
                            </span>
                        </p>
                        <p class="mt-10">
                            {% if Author.bio is not empty %}
                                {{ Author.bio|raw }}
                            {% else %}
                                <em>Questo autore non ha ancora compilato la propria presentazione.</em>
                            {% endif %}
                        </p>
                    </div>
                </div>

                {% if authorIsCurrentUser %}

                    <div class="text-center">
                        {% embed 'parts/alert-chalkboard.html.twig' %}
                            {% block alertStyle %}d-inline-block mb-0{% endblock %}
                            {% block alertTitleStyle %}mb-2{% endblock %}
                            {% block alertTitle %}Stai guardando la TUA pagina personale{% endblock %}
                            {% block alertBodyStyle %}text-start{% endblock %}
                            {% block alertBody%}
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="/forum/ucp.php?i=ucp_profile&amp;mode=avatar">
                                            <i class="fa-solid fa-id-card"></i> Modifica avatar (immagine di profilo)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ changeBioUrl }}">
                                            <i class="fa-solid fa-id-card"></i> Modifica nome, cognome o biografia
                                        </a>
                                    </li>
                                </ul>
                            {% endblock %}
                        {% endembed %}
                    </div>

                {% endif %}

            </div>

            {% if authorIsCurrentUser %}

                {% embed 'parts/alert-chalkboard.html.twig' %}
                    {% block alertStyle %}mt-3 mb-0{% endblock %}
                    {% block alertTitleStyle %}mb-2{% endblock %}
                    {% block alertTitle %}Cerchi i tuoi ultimi articoli?{% endblock %}
                    {% block alertBody%}
                        <div class="text-center">
                            Di seguito sono mostrati solo gli articoli con stato
                            <span style="color: #1e7e34"><i class="fa-solid fa-book"></i> Pubblicato</span>.
                        </div>
                        <div class="text-center">
                            Puoi trovare gli altri tuoi articoli alla pagina
                            <a href="{{ path('app_article_new') }}"><i class="fa-solid fa-pen"></i> Nuovo
                                articolo</a>.
                        </div>
                    {% endblock %}
                {% endembed %}

            {% endif%}

        </div>
    {% endif %}
{% endblock %}
